<mat-dialog-actions align="end">
  <button mat-button (click)="onCancelBtnClick()">
    {{cancelButtonName ? cancelButtonName : 'Cancel'}}
  </button>
  <ng-container *ngIf="!hideSaveButton">
    <mat-spinner *ngIf="loading" diameter="24"></mat-spinner>
    <button
      *ngIf="!loading"
      [disabled]="disabled"
      mat-button
      (click)="onSaveBtnClick()"
      class="dialog-action-save-button"
    >
      {{ (saveButtonName ? saveButtonName : 'Save') | uppercase }}
    </button>
  </ng-container>
</mat-dialog-actions>
