<div class="mat-elevation-z1">
  <mat-table
    matSort
    aria-label="Exams"
    matSortActive="id"
    matSortDirection="asc"
  >
    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef mat-sort-header>
        Name
      </mat-header-cell>
      <mat-cell *matCellDef="let row">
        <span>{{ row.name }}</span>
      </mat-cell>
    </ng-container>

    <!-- Descriptiion Column -->
    <ng-container matColumnDef="description">
      <mat-header-cell *matHeaderCellDef mat-sort-header>
        Description
      </mat-header-cell>
      <mat-cell *matCellDef="let row">
        <span>{{ row.description }}</span>
      </mat-cell>
    </ng-container>

    <!-- casualPrice Column -->
    <ng-container matColumnDef="casualPrice">
      <mat-header-cell *matHeaderCellDef mat-sort-header>
        Price (USD)
      </mat-header-cell>
      <mat-cell *matCellDef="let row">
        <div *ngIf="!row.studentsEnrolled.includes(currentUser?.user?.email)">
          <span *ngIf="row.casualPrice && row.casualPrice !== 0"
            >$ {{ row.casualPrice }}</span
          >
          <span *ngIf="!row.casualPrice || row.casualPrice === 0">Free</span>
        </div>
      </mat-cell>
    </ng-container>

    <!-- Marking Column -->
    <ng-container
      matColumnDef="autoMarking"
      *ngIf="currentUser?.user?.userType?.toLowerCase() ==='student'"
    >
      <mat-header-cell *matHeaderCellDef mat-sort-header>
        Marking Type
        <mat-icon
          style="font-size: 15px"
          #tooltip="matTooltip"
          matTooltip="'Auto Marking' indicates that your exam will be marked by AI. 'Teacher Feedback' indicates that your exam will be marked by a teacher and you will receive teacher feedback"
          >info</mat-icon
        >
      </mat-header-cell>
      <mat-cell *matCellDef="let row">
        <span *ngIf="row.autoMarking">Auto Marking</span>
        <span *ngIf="!row.autoMarking">Teacher Feedback</span>
      </mat-cell>
    </ng-container>

    <!-- studentsEnrolled Column -->
    <ng-container
      matColumnDef="studentsEnrolled"
      *ngIf="currentUser?.user?.userType?.toLowerCase() ==='teacher'"
    >
      <mat-header-cell *matHeaderCellDef mat-sort-header>
        Students Enrolled
      </mat-header-cell>
      <mat-cell *matCellDef="let row">
        <span
          #tooltip="matTooltip"
          [matTooltip]="getStudentsEnrolledList(row.studentsEnrolled)"
          >{{row.studentsEnrolled.length}}</span
        >
      </mat-cell>
    </ng-container>

    <!-- studentsCompleted Column -->
    <ng-container
      matColumnDef="studentsCompleted"
      *ngIf="currentUser?.user?.userType?.toLowerCase() ==='teacher'"
    >
      <mat-header-cell *matHeaderCellDef mat-sort-header>
        Students Completed
        <mat-icon
          style="font-size: 15px"
          #tooltip="matTooltip"
          matTooltip="A violet number indicated that there are exams to be marked."
          >info</mat-icon
        >
      </mat-header-cell>
      <mat-cell *matCellDef="let row">
        <span
          (click)="openStudentsCompletedList(row)"
          #tooltip="matTooltip"
          [matTooltip]="getStudentsCompletedList(row.studentsCompleted)"
          style="cursor: pointer"
          ><b *ngIf="row.studentsCompleted.length > 0"
            >{{row.studentsCompleted.length}}</b
          ></span
        >
      </mat-cell>
    </ng-container>

    <!-- assignedTeacher Column -->
    <ng-container
      matColumnDef="assignedTeacher"
      *ngIf="currentUser?.user?.userType?.toLowerCase() ==='teacher'"
    >
      <mat-header-cell *matHeaderCellDef mat-sort-header>
        Assigned Teacher
      </mat-header-cell>
      <mat-cell *matCellDef="let row">
        <span>{{row.assignedTeacher}}</span>
      </mat-cell>
    </ng-container>

    <!-- Created Column -->
    <ng-container
      matColumnDef="createdAt"
      *ngIf="currentUser?.user?.userType?.toLowerCase() ==='teacher'"
    >
      <mat-header-cell *matHeaderCellDef mat-sort-header>
        Created
      </mat-header-cell>
      <mat-cell *matCellDef="let row">
        <span *ngIf="row.createdAt"
          >{{ row.createdAt | date:'dd MMM yyyy h:mm a z'}}</span
        >
      </mat-cell>
    </ng-container>

    <!-- default Column -->
    <ng-container
      matColumnDef="default"
      *ngIf="currentUser?.user?.userType?.toLowerCase() ==='teacher'"
    >
      <mat-header-cell *matHeaderCellDef mat-sort-header>
        Default Exam?
        <mat-icon
          style="font-size: 15px"
          #tooltip="matTooltip"
          matTooltip="This will be default level test that is automatically assigned to a student when they first sign up."
          >info</mat-icon
        >
      </mat-header-cell>
      <mat-cell *matCellDef="let row">
        <span *ngIf="row.default">{{row.default}}</span>
      </mat-cell>
    </ng-container>

    <!-- Actions Column -->
    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let row">
        <div *ngIf="currentUser?.user?.userType?.toLowerCase() ==='teacher'">
          <button mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="displayExam(row, true, false, null)">
              <mat-icon>remove_red_eye</mat-icon>
              <span>View</span>
            </button>
            <button mat-menu-item (click)="openEditDialogClick(row)">
              <mat-icon>edit</mat-icon>
              <span>Edit</span>
            </button>
            <button mat-menu-item (click)="openConfirmDeleteDialogClick(row)">
              <mat-icon>delete</mat-icon>
              <span>Delete</span>
            </button>
          </mat-menu>
        </div>
        <div
          *ngIf="(currentUser?.user?.userType?.toLowerCase() ==='student' || !currentUser) && !row.studentsEnrolled.includes(currentUser?.user?.email)"
        >
          <mat-icon
            #tooltip="matTooltip"
            matTooltip="Sign up for this exam."
            style="cursor: pointer; color: green"
            (click)="enrolExam(row)"
            >add_shopping_cart</mat-icon
          >
        </div>
        <div
          *ngIf="(currentUser?.user?.userType?.toLowerCase() ==='student' || !currentUser) && row.studentsEnrolled.includes(currentUser?.user?.email) && !studentCompleted(row)"
        >
          <mat-icon
            #tooltip="matTooltip"
            matTooltip="Start exam"
            style="cursor: pointer; color: blue"
            (click)="startExamClick(row)"
            >play_circle_filled</mat-icon
          >
        </div>
        <div
          *ngIf="(currentUser?.user?.userType?.toLowerCase() ==='student' || !currentUser) && row.studentsEnrolled.includes(currentUser?.user?.email) && studentCompleted(row)"
        >
          <mat-icon
            #tooltip="matTooltip"
            matTooltip="Your exam is being marked."
            style="cursor: pointer"
            (click)="examMarkPending(row)"
            >hourglass_empty</mat-icon
          >
        </div>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row
      *matRowDef="let row; columns: displayedColumns"
      class="table-row"
    ></mat-row>

    <!-- Zero data row -->
    <ng-container *ngIf="examData !== null">
      <tr class="mat-row no-data-row" *matNoDataRow>
        <td class="mat-cell">
          <ng-container *ngIf="examData?.length === 0">
            No exams to show yet
          </ng-container>
          <ng-container *ngIf="examData.length > 0">
            No exams matched the filters
          </ng-container>
        </td>
      </tr>
    </ng-container>
  </mat-table>

  <mat-paginator
    data-testid="paginator"
    #paginator
    showFirstLastButtons
    [length]="examData?.length ?? 0"
    [pageIndex]="0"
    [pageSizeOptions]="[10, 20, 50]"
    aria-label="Select page"
  >
  </mat-paginator>
</div>
