<ng-container>
  <app-dialog-header
    [dialogTitle]="data.title"
    (closeAction)="closeDialog()"
  ></app-dialog-header>
  <h5>Question: {{temporarycurrentQuestionDisplay.name}}</h5>
  <div mat-dialog-content>
    <div class="form-field">
      <mat-list role="list">
        <div
          *ngFor="let sentence of temporarycurrentQuestionDisplay?.reorderSentenceQuestionList; let i = index"
          style="
            display: flex;
            align-items: center;
            gap: 10px;
            margin-bottom: 10px;
          "
        >
          <span>
            <button
              mat-icon-button
              matTooltip="Delete this option"
              matTooltipPosition="after"
              (click)="removeSentenceOption(i)"
            >
              <mat-icon>delete</mat-icon>
            </button>
          </span>
          <textarea
            type="text"
            [value]="sentence.text"
            placeholder="Type word/sentence/paragraph here"
            id="reorderSentenceInput"
            #reorderSentenceInput
            (keyup)="changeReorderSentenceText(i, reorderSentenceInput.value)"
            class="sentence-choice-textbox"
          ></textarea>
          <span>({{ positions[i] }}) </span>
        </div>
      </mat-list>
      <span class="add-option-button" (click)="addReorderSentenceOption()"
        ><mat-icon>add</mat-icon><b>Add sentence</b></span
      >
    </div>

    <div class="toggle-container">
      <form
        [formGroup]="questionForm"
        class="form-field"
        style="margin-bottom: 20px !important"
      >
        <i>Note: The options will appear to the student in a random order</i>
      </form>

      <form [formGroup]="questionForm" class="form-field">
        <mat-slide-toggle
          id="partialMarking"
          name="partialMarking"
          #partialMarking
          (change)="togglePartialMarking(partialMarking.checked)"
          [checked]="temporarycurrentQuestionDisplay?.partialMarking"
          >Partial Marking?
          <mat-icon
            style="font-size: 20px"
            #tooltip="matTooltip"
            matTooltip="When turned on, the student will be rewarded partial marking for getting some of the options in the correct order. When turned off, the student must get the whole question correct to be awarded the marks."
            >info_outlined</mat-icon
          >
        </mat-slide-toggle>
      </form>
    </div>
  </div>
  <app-dialog-actions
    [matTooltip]="!temporarycurrentQuestionDisplay.reorderSentenceQuestionList || (temporarycurrentQuestionDisplay.reorderSentenceQuestionList ?? [null,null]).length < 2 ? 'Please add at least two options before saving' : ''"
    matTooltipPosition="after"
    (cancelAction)="closeDialog()"
    (saveAction)="closeDialogSave()"
    [disabled]="!temporarycurrentQuestionDisplay.reorderSentenceQuestionList || (temporarycurrentQuestionDisplay.reorderSentenceQuestionList ?? [null,null]).length < 2"
  ></app-dialog-actions>
</ng-container>
