  .mat-drawer-content {
    /* padding: 12px; */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* width:20%; */
  }

  .main-page-container {
    /* background-image: url('../../../assets/triangles-1-pink-purple.png'); */
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 150vh;
    /* display: flex; */
  }

  .page-content {
    padding:25px;
  }