<mat-drawer-container
  [style]="'background-image: url(../../../assets/' + selectedBackgroundImage?.name + ')'"
  class="main-page-container"
  autosize
>
  <mat-drawer
    #drawer
    mode="push"
    opened="true"
    class="mat-drawer-content"
    mode="side"
    opened="true"
  >
    <app-side-nav
      [currentSchool]="currentSchool$ | async"
      [currentUser]="currentUser$ | async"
      [users]="users$ | async"
      [pageStyles]="styles"
    ></app-side-nav>
  </mat-drawer>

  <div>
    <router-outlet></router-outlet>
  </div>
</mat-drawer-container>
