<mat-drawer-container
  [style]="tempStylesService.getBackgroundStyleStyle(selectedBackgroundImage)"
  class="main-page-container"
  autosize
>
  <mat-drawer
    #drawer
    mode="push"
    opened="true"
    class="mat-drawer-content"
    mode="side"
  >
    <app-side-nav
      [currentSchool]="currentSchool$ | async"
      [currentUser]="currentUser$ | async"
      [users]="users$ | async"
      [sideNavOpen]="sideNavOpen"
    ></app-side-nav>
  </mat-drawer>

  <div>
    <router-outlet></router-outlet>
  </div>
</mat-drawer-container>
