  
  mat-drawer-content {
    padding: 12px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .main-page {
    background-image: url('../../../assets/Background-Horizontal-1.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 150vh; /* Ensure the background covers the entire viewport */
    display: flex;
    /* justify-content: center;
    align-items: center; */
  }
