$width: var(--sideNavWidth);
$primaryColor: var(--primaryColor);
$secondaryColor: var(--secondaryColor);

.mat-drawer-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width:$width;
  transition: all 3000ms ease-in-out;
}

.main-page-container {
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh;
  overflow: hidden;
  // min-height: 150vh;
}

.page-content {
  padding:25px;
}

/* Hide scrollbars and keep scrolling */

::ng-deep .mat-drawer-inner-container {
  overflow-y: scroll !important;
  -ms-overflow-style: none !important;
  scrollbar-width: none !important;
}
::ng-deep .mat-drawer-inner-container::-webkit-scrollbar {
  display: none !important;
}