<ng-container>
  <app-dialog-header
    [dialogTitle]="data.title"
    (closeAction)="closeDialog(null)"
  ></app-dialog-header>
  <div mat-dialog-content>
    <mat-stepper [linear]="!data.exam" #stepper>
      <div [formGroup]="examForm">
        <mat-step
          [stepControl]="examForm"
          label="Exam Details"
          [editable]="true"
        >
          <div class="step-container">
            <mat-form-field class="form-field" appearance="outline">
              <mat-label>Exam name</mat-label>
              <input
                matInput
                id="name"
                formControlName="name"
                type="text"
                placeholder="E.g. PTE Mini Mock Test 1"
                required
              />
              <mat-error>
                <app-error-message
                  [control]="examForm.controls['name'].errors"
                ></app-error-message>
              </mat-error>
            </mat-form-field>

            <mat-form-field class="form-field" appearance="outline">
              <mat-label>Exam description</mat-label>
              <textarea
                matInput
                id="description"
                formControlName="description"
                type="text"
                placeholder="Tell your students about this exam..."
                required
              ></textarea>
              <mat-error>
                <app-error-message
                  [control]="examForm.controls['description'].errors"
                ></app-error-message>
              </mat-error>
            </mat-form-field>

            <mat-form-field class="form-field" appearance="outline">
              <mat-label>Exam instructions</mat-label>
              <textarea
                matInput
                id="instructions"
                formControlName="instructions"
                type="text"
                placeholder="Optional instructions for the students that they will see before starting the exam."
                required
              ></textarea>
              <mat-error>
                <app-error-message
                  [control]="examForm.controls['instructions'].errors"
                ></app-error-message>
              </mat-error>
            </mat-form-field>

            <mat-form-field class="form-field" appearance="outline">
              <mat-label>Casual Price (USD)</mat-label>
              <input
                matInput
                id="casualPrice"
                formControlName="casualPrice"
                type="number"
                placeholder="The price that students without a subscription plan will pay for this exam (USD)"
              />
              <mat-icon matSuffix>attach_money</mat-icon>
              <mat-error>
                <app-error-message
                  [control]="examForm.controls['casualPrice'].errors"
                ></app-error-message>
              </mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline" class="form-field">
              <mat-label>Assigned teacher</mat-label>
              <mat-select formControlName="assignedTeacher">
                <mat-option
                  *ngFor="let teacher of data.teachers"
                  [value]="teacher.email"
                  ><img
                    [src]="teacher.profilePicture?.url"
                    alt="teacher image"
                    class="thumbnail-image"
                  />{{teacher.name}}</mat-option
                >
              </mat-select>
              <mat-icon
                matSuffix
                #tooltip="matTooltip"
                matTooltip="The assigned teacher will be responsible for marking this exam and giving feedback. Note that any teacher can mark any exam, but only the assigned teacher will be notified when an exam needs marking."
                >info_outlined</mat-icon
              >

              <mat-error>
                <app-error-message
                  [control]="examForm.controls['assignedTeacher'].errors"
                ></app-error-message>
              </mat-error>
            </mat-form-field>

            <form [formGroup]="examForm" class="form-field">
              <mat-slide-toggle
                formControlName="default"
                id="default"
                #default
                name="default"
                (change)="default.checked ? updateDefaultExam() : ''"
              >
                Default level test?
                <mat-icon
                  style="font-size: 20px"
                  #tooltip="matTooltip"
                  matTooltip="This will be the free level test assigned to students when they first sign up for the platform."
                  >info_outlined</mat-icon
                >
              </mat-slide-toggle>
              <mat-error>
                <app-error-message
                  [control]="examForm.controls['default'].errors"
                ></app-error-message>
              </mat-error>
            </form>
          </div>
          <div class="stepper-navigation">
            <button
              mat-button
              matStepperNext
              type="button"
              [disabled]="this.examForm.invalid"
            >
              <b>Next</b>
            </button>
          </div>
        </mat-step>
      </div>

      <!-- --- --- -->
      <!-- Step 2 -->
      <!-- --- --- -->

      <div [formGroup]="questionForm">
        <mat-step label="Add Questions to Exam" [editable]="true">
          <div class="step-container">
            <mat-grid-list
              cols="4"
              [rowHeight]="questionList.length>0 && currentQuestionDisplay ? '125px' : '100px'"
            >
              <!-- <mat-grid-tile
                [class.expanded]="questionList.length > 0 && currentQuestionDisplay"
                [colspan]="questionList.length>0 && currentQuestionDisplay ? 3 : 0"
                rowspan="1"
                style="background-color: aqua"
              >
                <mat-card style="width: 100%">
                  <mat-card-content
                    >{{currentQuestionDisplay?.name | titlecase}}
                    Preview</mat-card-content
                  >
                </mat-card>
              </mat-grid-tile> -->

              <mat-grid-tile
                [class.expanded]="questionList.length === 0 || !currentQuestionDisplay"
                [colspan]="questionList.length>0 && currentQuestionDisplay ? 1 : 4"
                rowspan="4"
                style="overflow-y: auto"
                [class]="questionList.length>0 && currentQuestionDisplay ? 'border-right' : ''"
              >
                <div style="display: flex; flex-direction: column">
                  <div class="tree-container">
                    <mat-list role="list" *ngFor="let question of questionList">
                      <mat-list-item role="listitem">
                        <div style="display: flex; align-items: center">
                          <span
                            [class]="question.id === currentQuestionDisplay?.id ? 'current-question' : ''"
                            >{{question.name}}</span
                          >
                          <mat-icon
                            style="
                              cursor: pointer;
                              font-size: 16px;
                              margin-left: 10px;
                            "
                            #tooltip="matTooltip"
                            [matTooltip]="'Edit ' + question.type"
                            (click)="editQuestion(question, null)"
                            [class]="question.id === currentQuestionDisplay?.id ? 'current-question' : ''"
                            >edit</mat-icon
                          >
                          <mat-icon
                            style="cursor: pointer; font-size: 16px"
                            #tooltip="matTooltip"
                            [matTooltip]="'Delete ' + question.type"
                            (click)="deleteQuestion(question, null)"
                            [class]="question.id === currentQuestionDisplay?.id ? 'current-question' : ''"
                            >delete</mat-icon
                          >
                          <span
                            *ngIf="question.subQuestions"
                            (click)="expandSection(question)"
                            style="cursor: pointer; margin-left: auto"
                          >
                            <mat-icon *ngIf="question.expanded === false"
                              >keyboard_arrow_right</mat-icon
                            >
                            <mat-icon *ngIf="question.expanded === true"
                              >keyboard_arrow_down</mat-icon
                            >
                          </span>
                        </div></mat-list-item
                      >
                      <div *ngIf="question.expanded">
                        <mat-list-item
                          class="subQuestionList"
                          *ngFor="let subQuestion of question.subQuestions"
                          [class]="subQuestion.id === currentQuestionDisplay?.id ? 'current-question' : ''"
                        >
                          <span>&#x2022; {{subQuestion.name}}</span>
                          <mat-icon
                            style="
                              cursor: pointer;
                              font-size: 16px;
                              margin-left: 10px;
                            "
                            #tooltip="matTooltip"
                            matTooltip="Edit question"
                            (click)="editQuestion(question, subQuestion)"
                            >edit</mat-icon
                          >
                          <mat-icon
                            style="cursor: pointer; font-size: 16px"
                            #tooltip="matTooltip"
                            matTooltip="Delete question"
                            (click)="deleteQuestion(question, subQuestion)"
                            >delete</mat-icon
                          >
                        </mat-list-item>
                        <span
                          style="
                            display: flex;
                            align-items: center;
                            font-size: small;
                            cursor: pointer;
                          "
                          class="subQuestionList"
                          (click)="addQuestionToSection(question)"
                          ><mat-icon>add</mat-icon
                          ><b>Add question to section</b></span
                        >
                      </div>
                    </mat-list>
                  </div>
                  <mat-divider
                    *ngIf="questionList.length>0 && currentQuestionDisplay"
                  ></mat-divider>
                  <div class="tree-button-container">
                    <button
                      mat-raised-button
                      type="button"
                      class="button add-new-question-button"
                      (click)="addNewQuestion()"
                    >
                      <mat-icon>add</mat-icon>
                      <span
                        [class]="questionList.length>0 && currentQuestionDisplay ? 'new-question-text' : ''"
                        >Add New Question</span
                      >
                    </button>
                    <button
                      mat-raised-button
                      type="button"
                      (click)="addNewSection()"
                      class="button add-new-question-button"
                    >
                      <mat-icon>add</mat-icon
                      ><span
                        [class]="questionList.length>0 && currentQuestionDisplay ? 'new-question-text' : ''"
                        >Add New Section</span
                      >
                    </button>
                  </div>
                </div>
              </mat-grid-tile>

              <mat-grid-tile
                [colspan]="questionList.length>0 && currentQuestionDisplay ? 3 : 0"
                rowspan="1"
              >
                <mat-form-field class="form-field" appearance="outline">
                  <mat-label>Question name</mat-label>
                  <input
                    matInput
                    id="questionName"
                    #questionName
                    formControlName="questionName"
                    type="text"
                    placeholder="E.g. Question 1 - Multiple Choice"
                    required
                    (keyup)="formChange(questionName.value, 'name')"
                  />
                  <mat-error>
                    <app-error-message
                      [control]="questionForm.controls['questionName'].errors"
                    ></app-error-message>
                  </mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline" class="form-field">
                  <mat-label>Question Type</mat-label>
                  <mat-select
                    formControlName="type"
                    (selectionChange)="formChange($event.value, 'type')"
                    [disabled]="currentQuestionDisplay?.type?.toLowerCase() === 'section'"
                  >
                    <ng-container *ngFor="let questionType of questionTypes">
                      <ng-container
                        *ngIf="questionType.type !== 'section' || currentQuestionDisplay?.type === 'section'"
                      >
                        <mat-option
                          [value]="questionType.type"
                          #tooltip="matTooltip"
                          [matTooltip]="questionType.label + ': ' + questionType.description"
                          >{{questionType.label}}</mat-option
                        >
                      </ng-container>
                    </ng-container>
                  </mat-select>
                  <mat-error>
                    <app-error-message
                      [control]="examForm.controls['assignedTeacher'].errors"
                    ></app-error-message>
                  </mat-error>
                </mat-form-field>

                <mat-form-field class="form-field" appearance="outline">
                  <mat-label>Question prompt</mat-label>
                  <input
                    matInput
                    id="writtenPrompt"
                    formControlName="writtenPrompt"
                    #writtenPrompt
                    type="text"
                    placeholder="A short description of the question/section"
                    required
                    (keyup)="formChange(writtenPrompt.value, 'writtenPrompt')"
                  />
                  <mat-error>
                    <app-error-message
                      [control]="questionForm.controls['writtenPrompt'].errors"
                    ></app-error-message>
                  </mat-error>
                </mat-form-field>
              </mat-grid-tile>

              <mat-grid-tile
                [colspan]="questionList.length>0 && currentQuestionDisplay ? 3 : 0"
                rowspan="1"
              >
                <mat-form-field class="form-field" appearance="outline">
                  <mat-label for="imagePrompt" class="file-label"
                    ><mat-icon>attach_file</mat-icon> Image prompt
                    URL...</mat-label
                  >
                  <input
                    matInput
                    id="imagePrompt"
                    #imagePrompt
                    formControlName="imagePrompt"
                    type="text"
                    placeholder="Add a URL to an image prompt for this question"
                    (keyup)="formChange(imagePrompt.value, 'imagePrompt')"
                  />
                  <!-- <mat-label for="imagePrompt" class="file-label">
                    <mat-icon>attach_file</mat-icon>
                    Image prompt
                  </mat-label> -->
                  <!-- <div class="file-upload">
                    <label for="imagePrompt" class="file-label">
                      <mat-icon>attach_file</mat-icon> Image prompt
                    </label>
                    <input
                      id="imagePrompt"
                      type="file"
                      (change)="onFileSelected($event)"
                      accept="image/*"
                      aria-label="Image prompt"
                      #imagePrompt
                      style="display: none"
                    />
                    <input
                      matInput
                      [value]="imagePromptFile"
                      placeholder="Upload an image prompt for this question"
                      readonly
                    />
                  </div> -->
                </mat-form-field>

                <mat-form-field class="form-field" appearance="outline">
                  <!-- <mat-label for="imagePrompt" class="file-label">
                    <mat-icon>attach_file</mat-icon>
                    Image prompt
                  </mat-label> -->
                  <!-- <div class="file-upload">
                    <label for="audioPrompt" class="file-label">
                      <mat-icon>attach_file</mat-icon> Audio prompt
                    </label> -->
                  <!-- <input
                    id="audioPrompt"
                    type="file"
                    (change)="onFileSelected($event)"
                    accept=".mp3,audio/*"
                    aria-label="Audio prompt"
                    #audioPrompt
                    style="display: none"
                  /> -->
                  <mat-label for="audioPrompt" class="file-label"
                    ><mat-icon>attach_file</mat-icon> Audio prompt
                    URL...</mat-label
                  >
                  <input
                    matInput
                    id="audioPrompt"
                    #audioPrompt
                    formControlName="audioPrompt"
                    type="text"
                    placeholder="Add a URL to an audio prompt for this question"
                    (keyup)="formChange(audioPrompt.value, 'audioPrompt')"
                  />
                  <!-- <input
                    matInput
                    [value]="audioPromptFile"
                    placeholder="Upload an audio prompt for this question"
                    readonly
                  /> -->
                  <!-- </div> -->
                </mat-form-field>

                <mat-form-field class="form-field" appearance="outline">
                  <mat-label for="videoPrompt" class="file-label"
                    ><mat-icon>attach_file</mat-icon> Video prompt
                    URL...</mat-label
                  >
                  <input
                    matInput
                    id="videoPrompt"
                    #videoPrompt
                    formControlName="videoPrompt"
                    type="text"
                    placeholder="Add a URL to a video prompt for this question"
                    (keyup)="formChange(videoPrompt.value, 'videoPrompt')"
                  />
                  <!-- <mat-error>
                    <app-error-message
                      [control]="questionForm.controls['videoPrompt'].errors"
                    ></app-error-message>
                  </mat-error> -->
                </mat-form-field>
              </mat-grid-tile>

              <mat-grid-tile
                [colspan]="(questionList.length>0 && currentQuestionDisplay && (currentQuestionDisplay.timed === false || !currentQuestionDisplay.timed)) ? 3 : (questionList.length>0 && currentQuestionDisplay && currentQuestionDisplay.timed === true) ? 3 : 0"
                rowspan="1"
              >
                <form [formGroup]="questionForm" class="form-field">
                  <mat-slide-toggle
                    id="teacherFeedback"
                    #teacherFeedback
                    name="teacherFeedback"
                    formControlName="teacherFeedback"
                    (change)="formChange(teacherFeedback.checked, 'teacherFeedback')"
                    [checked]="currentQuestionDisplay?.teacherFeedback"
                  >
                    Teacher feedback?
                    <mat-icon
                      style="font-size: 20px"
                      #tooltip="matTooltip"
                      matTooltip="When turned on, the teacher will be prompted to give written feedback when marking this exam."
                      >info_outlined</mat-icon
                    >
                  </mat-slide-toggle>
                  <mat-error>
                    <app-error-message
                      [control]="questionForm.controls['teacherFeedback'].errors"
                    ></app-error-message>
                  </mat-error>
                </form>

                <form [formGroup]="questionForm" class="form-field">
                  <mat-slide-toggle
                    formControlName="autoMarking"
                    id="autoMarking"
                    name="autoMarking"
                    #autoMarking
                    (change)="formChange(autoMarking.checked, 'autoMarking')"
                    [checked]="currentQuestionDisplay?.autoMarking"
                  >
                    Auto marking?
                    <mat-icon
                      style="font-size: 20px"
                      #tooltip="matTooltip"
                      matTooltip="When turned on, this exam will automatically be marked by our marking software and the student will be given a score. When turned off, the teacher will have to provide the student with a score."
                      >info_outlined</mat-icon
                    >
                  </mat-slide-toggle>
                  <mat-error>
                    <app-error-message
                      [control]="questionForm.controls['autoMarking'].errors"
                    ></app-error-message>
                  </mat-error>
                </form>

                <div class="form-field">
                  <mat-slide-toggle
                    id="timed"
                    name="timed"
                    #timed
                    (change)="formChange(timed.checked, 'timed')"
                    [checked]="currentQuestionDisplay?.timed"
                  >
                    Timed?
                    <mat-icon
                      *ngIf="!currentQuestionDisplay?.timed"
                      style="font-size: 20px"
                      #tooltip="matTooltip"
                      matTooltip="When turned on, this question/section will have a time limit"
                      >info_outlined</mat-icon
                    >
                  </mat-slide-toggle>
                </div>

                <mat-form-field
                  class="form-field"
                  appearance="outline"
                  *ngIf="currentQuestionDisplay?.timed"
                >
                  <mat-label>Time limit (seconds)</mat-label>
                  <input
                    matInput
                    id="time"
                    #time
                    formControlName="time"
                    type="text"
                    placeholder="Time limit (seconds)"
                    [required]="currentQuestionDisplay?.timed === true"
                    (keyup)="formChange(time.value, 'time')"
                  />
                  <mat-error>
                    <app-error-message
                      [control]="questionForm.controls['time'].errors"
                    ></app-error-message>
                  </mat-error>
                </mat-form-field>

                <!-- <mat-form-field class="form-field" appearance="outline">
                  <mat-label>Total points</mat-label>
                  <input
                    matInput
                    id="totalPoints"
                    #totalPoints
                    formControlName="totalPoints"
                    type="number"
                    placeholder="How many points will this question be worth? (default = 1)"
                    (change)="formChange(totalPoints.value, 'totalPoints')"
                  />
                </mat-form-field> -->
                <!-- <mat-error>
                  <app-error-message
                    [control]="questionForm.controls['totalPoints']?.errors"
                  ></app-error-message>
                </mat-error> -->
              </mat-grid-tile>

              <mat-grid-tile
                [colspan]="questionList.length>0 && currentQuestionDisplay ? 3 : 0"
                rowspan="1"
              >
                <mat-form-field
                  style="width: 30%"
                  class="form-field"
                  appearance="outline"
                  *ngIf="['written-response','audio-response','repeat-sentence'].includes(this.questionForm.getRawValue().type.toLowerCase())"
                >
                  <mat-label
                    *ngIf="this.questionForm.getRawValue().type === 'written-response'"
                    >Response word limit</mat-label
                  >
                  <mat-label
                    *ngIf="this.questionForm.getRawValue().type === 'audio-response' || this.questionForm.getRawValue().type === 'repeat-sentence'"
                    >Response time limit (seconds)</mat-label
                  >
                  <input
                    matInput
                    id="length"
                    #length
                    formControlName="length"
                    type="number"
                    [placeholder]="this.questionForm.getRawValue().type === 'written-response' ? 'Enter word limit' : 'Enter audio response time (seconds)'"
                    (change)="formChange(length.value, 'length')"
                  />
                </mat-form-field>

                <div
                  class="form-field"
                  *ngIf="this.questionForm.getRawValue().type === 'match-options'"
                  style="max-height: 400px; overflow-y: auto"
                >
                  <mat-list role="list">
                    <div
                      *ngFor="let question of currentQuestionDisplay?.matchOptionQuestionList; let i = index"
                    >
                      <input
                        type="text"
                        [value]="question.leftOption"
                        placeholder="type left here"
                        id="matchOptionInputLeft"
                        #matchOptionInputLeft
                        (keyup)="changeMatchOptionText(i, matchOptionInputLeft.value, 'left')"
                        style="width: 40%; margin-bottom: 2px"
                      />
                      <input
                        type="text"
                        [value]="question.rightOption"
                        placeholder="type right match here"
                        id="matchOptionInputRight"
                        #matchOptionInputRight
                        (keyup)="changeMatchOptionText(i, matchOptionInputRight.value, 'right')"
                        style="width: 40%"
                      />
                    </div>
                  </mat-list>
                  <span
                    style="
                      display: flex;
                      align-items: center;
                      font-size: small;
                      cursor: pointer;
                    "
                    class="subQuestionList"
                    (click)="addMatchOption()"
                    ><mat-icon>add</mat-icon><b>Add pair</b></span
                  >
                </div>

                <div
                  class="form-field"
                  *ngIf="this.questionForm.getRawValue().type === 'multiple-choice-single' || this.questionForm.getRawValue().type === 'multiple-choice-multi'"
                  style="max-height: 400px; overflow-y: auto"
                >
                  <mat-list role="list">
                    <!-- <mat-radio-group
                    role="listitem"
                    class="multichoice-radio-group"
                  > -->
                    <div
                      *ngFor="let question of currentQuestionDisplay?.multipleChoiceQuestionList; let i = index"
                    >
                      <span *ngIf="!currentQuestionDisplay?.randomQuestionOrder"
                        >{{ letters[i] }}:
                      </span>
                      <input
                        type="text"
                        [value]="question.text"
                        placeholder="type option here"
                        id="multiChoiceInput"
                        #multiChoiceInput
                        (keyup)="changeMultiChoiceText(i, multiChoiceInput.value)"
                        style="width: 30%; margin-bottom: 2px"
                      />
                      <mat-checkbox
                        [checked]="question.correct"
                        (change)="changeMultiChoice(i, $event.checked)"
                        [class]="this.questionForm.getRawValue().type === 'multiple-choice-single' ? 'multi-choice-single-button' : ''"
                        >Correct option?</mat-checkbox
                      >
                      <!-- <mat-radio-button
                        class="multichoice-radio-button"
                        [value]="question.correct"
                        (change)="changeMultiChoice(currentQuestionDisplay,question, i)"
                        >correct?</mat-radio-button
                      > -->
                    </div>
                    <!-- </mat-radio-group> -->
                  </mat-list>
                  <span
                    style="
                      display: flex;
                      align-items: center;
                      font-size: small;
                      cursor: pointer;
                    "
                    class="subQuestionList"
                    (click)="addMultipleChoiceOption()"
                    ><mat-icon>add</mat-icon><b>Add answer</b></span
                  >
                </div>

                <div
                  class="form-field"
                  *ngIf="this.questionForm.getRawValue().type === 'reorder-sentence'"
                  style="max-height: 400px; overflow-y: auto"
                >
                  <mat-list role="list">
                    <div
                      *ngFor="let sentence of currentQuestionDisplay?.reorderSentenceQuestionList; let i = index"
                    >
                      <span *ngIf="!currentQuestionDisplay?.randomQuestionOrder"
                        >{{ letters[i] }}:
                      </span>
                      <input
                        type="text"
                        [value]="sentence"
                        placeholder="type sentence here"
                        id="reorderSentenceInput"
                        #reorderSentenceInput
                        (keyup)="changeReorderSentenceText(i, reorderSentenceInput.value)"
                        style="width: 40%; margin-bottom: 2px"
                      />
                    </div>
                  </mat-list>
                  <span
                    style="
                      display: flex;
                      align-items: center;
                      font-size: small;
                      cursor: pointer;
                    "
                    class="subQuestionList"
                    (click)="addReorderSentenceOption()"
                    ><mat-icon>add</mat-icon><b>Add sentence</b></span
                  >
                </div>

                <div
                  class="form-field"
                  *ngIf="this.questionForm.getRawValue().type === 'fill-in-the-blanks'"
                  style="max-height: 400px; overflow-y: auto"
                >
                  <mat-list role="list">
                    <div
                      *ngFor="let question of currentQuestionDisplay?.fillBlanksQuestionList; let i = index"
                    >
                      <input
                        *ngIf="question.blank"
                        type="text"
                        [value]="question.text"
                        placeholder="type blank here"
                        id="fillBlanksInput"
                        #fillBlanksInput
                        (keyup)="changeFillBlankText(i, fillBlanksInput.value)"
                        style="margin-bottom: 2px"
                      />
                      <textarea
                        *ngIf="!question.blank"
                        [value]="question.text"
                        placeholder="type text here"
                        id="fillBlanksInput"
                        #fillBlanksInput
                        (keyup)="changeFillBlankText(i, fillBlanksInput.value)"
                        style="margin-bottom: 2px"
                      ></textarea>
                    </div>
                  </mat-list>
                  <span
                    style="
                      display: flex;
                      align-items: center;
                      font-size: small;
                      cursor: pointer;
                    "
                    class="subQuestionList"
                    (click)="addFillBlank('text')"
                    ><mat-icon>add</mat-icon><b>Add text</b></span
                  >
                  <span
                    style="
                      display: flex;
                      align-items: center;
                      font-size: small;
                      cursor: pointer;
                    "
                    class="subQuestionList"
                    (click)="addFillBlank('blank')"
                    ><mat-icon>add</mat-icon><b>Add blank</b></span
                  >
                </div>

                <form
                  [formGroup]="questionForm"
                  class="form-field"
                  *ngIf="['multiple-choice-single', 'multiple-choice-multi', 'reorder-sentence'].includes(this.questionForm.getRawValue().type)"
                >
                  <mat-slide-toggle
                    id="randomQuestionOrder"
                    name="randomQuestionOrder"
                    #randomQuestionOrder
                    formControlName="randomQuestionOrder"
                    (change)="formChange(randomQuestionOrder.checked, 'randomQuestionOrder')"
                    [checked]="currentQuestionDisplay?.randomQuestionOrder"
                  >
                    Random question order?
                    <mat-icon
                      style="font-size: 20px"
                      #tooltip="matTooltip"
                      matTooltip="When turned on, the options you create will appear in a random order when the student takes the exam. When turned off, they will appear in the order you create them."
                      >info_outlined</mat-icon
                    >
                  </mat-slide-toggle>
                </form>
                <form
                  [formGroup]="questionForm"
                  class="form-field"
                  *ngIf="['multiple-choice-single', 'multiple-choice-multi', 'match-options', 'fill-in-the-blanks'].includes(this.questionForm.getRawValue().type)"
                >
                  <mat-slide-toggle
                    id="partialMarking"
                    name="partialMarking"
                    #partialMarking
                    formControlName="partialMarking"
                    (change)="formChange(partialMarking.checked, 'partialMarking')"
                    [checked]="currentQuestionDisplay?.partialMarking"
                  >
                    <span
                      *ngIf="this.questionForm.getRawValue().type === 'fill-in-the-blanks'"
                      >Case sensitive?</span
                    >
                    <span
                      *ngIf="this.questionForm.getRawValue().type !== 'fill-in-the-blanks'"
                      >Partial marking?</span
                    >
                    <mat-icon
                      style="font-size: 20px"
                      #tooltip="matTooltip"
                      [matTooltip]="this.questionForm.getRawValue().type === 'fill-in-the-blanks' ? 'When turned on, the student will have to get the case correct to be awarded the marks' : 'When turned on, the student will be rewarded partial marking for getting some of the questions correct. When turned off, the student will have to get the whole question correct to be awarded the marks.'"
                      >info_outlined</mat-icon
                    >
                  </mat-slide-toggle>
                </form>
              </mat-grid-tile>
            </mat-grid-list>

            <div class="stepper-navigation">
              <button mat-button matStepperPrevious type="button">Back</button>
              <button mat-button type="button" (click)="saveExamClick()">
                <b>Save Exam</b>
              </button>
            </div>
          </div>
        </mat-step>
      </div>
    </mat-stepper>
  </div>
  <!-- <mat-dialog-actions align="end">
    <button mat-button color="primary" [mat-dialog-close]="false">Cancel</button>
    <button
      class="okButton"
      mat-raised-button
      cdkFocusInitial
      [mat-dialog-close]="this.examForm.value"
      [disabled]="this.examForm.invalid"
    >
      Save
    </button>
  </mat-dialog-actions> -->
</ng-container>
