$primaryColor: var(--primaryColor);
$secondaryColor: var(--secondaryColor);

.form-field {
    width: 100%;
    margin-bottom:15px;
  }

  .button { // todo - move button colors to global format
    color: $secondaryColor;
    background-color: $primaryColor;
  }

.question-container{
  border:1px solid black;
  border-radius: 5px;
  padding:30px;
  transition: width 0.3s ease-in-out;
}

.question-list-container{
  height:75vh;
  overflow-y: scroll;
  transition: width 0.3s ease-in-out;
}

.thumbnail-image {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50%;
  padding: 10px;
}

.step-container {
  padding-top: 16px;
}

/* todo: move to gloval stylings */
.stepper-navigation {
  margin-top: 16px;
  display: flex;
  justify-content: flex-end;
  margin-top: 20px; 
}

.mat-dialog-content {
  max-height: initial;
}

.tree-button-container {
  margin-top:10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center; /* Optionally center text within the container */
}

.subQuestionList {
  margin-left:15px;
  margin-top:0px;
  padding-top:0px;
  margin-bottom:0px;
  padding-bottom:0px;
}

.add-new-question-button {
  margin:1px;
  padding:5px;
  width:200px;
  margin-bottom: 10px;
}

.new-question-text{
  font-size:x-small
}

.expanded {
  width: 100%;
}

.border-right {
  border-right: 2px solid #ccc;
}

.current-question {
  color: $primaryColor;
  font-weight: bolder;
}

.arrow-down{
  transform: rotate(90deg);
  transition: 0.2s ease-in-out;
}

.arrow{
  transition: 0.2s ease-in-out;
}

.add-to-question-btn {
  display: flex;
  justify-content: center;
  margin-top:50px; 
}


// .multichoice-radio-group {
//   display: flex;
//   flex-direction: column;
//   margin: 15px 0;
//   align-items: flex-start;
// }

// .multichoice-radio-button {
//   margin: 5px;
// }
