<!-- <div class="dialog-title-container">
  <h2 mat-dialog-title>{{data.title}}</h2>
</div> -->

<mat-toolbar role="toolbar" class="dialog-title-container">
  <h2 mat-dialog-title>
    <button mat-icon-button (click)="closeDialog(null)">
      <mat-icon>close</mat-icon></button
    >{{data.title}}
  </h2>
</mat-toolbar>

<div mat-dialog-content>
  <mat-stepper [linear]="!data.exam" #stepper>
    <div [formGroup]="examForm">
      <mat-step [stepControl]="examForm" label="Exam Details" [editable]="true">
        <div class="step-container">
          <mat-form-field class="form-field" appearance="outline">
            <mat-label>Exam name</mat-label>
            <input
              matInput
              id="name"
              formControlName="name"
              type="text"
              placeholder="E.g. PTE Mini Mock Test 1"
              required
            />
            <mat-error>
              <app-error-message
                [control]="examForm.controls['name'].errors"
              ></app-error-message>
            </mat-error>
          </mat-form-field>

          <mat-form-field class="form-field" appearance="outline">
            <mat-label>Exam description</mat-label>
            <textarea
              matInput
              id="description"
              formControlName="description"
              type="text"
              placeholder="Tell your students about this exam..."
              required
            ></textarea>
            <mat-error>
              <app-error-message
                [control]="examForm.controls['description'].errors"
              ></app-error-message>
            </mat-error>
          </mat-form-field>

          <mat-form-field class="form-field" appearance="outline">
            <mat-label>Casual Price (USD)</mat-label>
            <input
              matInput
              id="casualPrice"
              formControlName="casualPrice"
              type="number"
              placeholder="The price that students without a subscription plan will pay for this exam (USD)"
            />
            <mat-icon matSuffix>attach_money</mat-icon>
            <mat-error>
              <app-error-message
                [control]="examForm.controls['casualPrice'].errors"
              ></app-error-message>
            </mat-error>
          </mat-form-field>

          <mat-form-field
            #tooltip="matTooltip"
            matTooltip="The assigned teacher will be responsible for marking this exam and giving feedback. Note that any teacher can mark any exam, but only the assigned teacher will be notified when an exam needs marking."
            appearance="outline"
            class="form-field"
          >
            <mat-label>Assigned teacher</mat-label>
            <mat-select formControlName="assignedTeacher">
              <mat-option
                *ngFor="let teacher of data.teachers"
                [value]="teacher.email"
                ><img
                  [src]="teacher.profilePicture?.url"
                  alt="teacher image"
                  class="thumbnail-image"
                />{{teacher.name}}</mat-option
              >
            </mat-select>

            <mat-error>
              <app-error-message
                [control]="examForm.controls['assignedTeacher'].errors"
              ></app-error-message>
            </mat-error>
          </mat-form-field>

          <form [formGroup]="examForm" class="form-field">
            <mat-slide-toggle
              formControlName="default"
              id="default"
              name="default"
            >
              Default level test?
              <mat-icon
                style="font-size: 20px"
                #tooltip="matTooltip"
                matTooltip="This will be the free level test assigned to students when they first sign up for the platform."
                >info</mat-icon
              >
            </mat-slide-toggle>
            <mat-error>
              <app-error-message
                [control]="examForm.controls['default'].errors"
              ></app-error-message>
            </mat-error>
          </form>
        </div>
        <div class="stepper-navigation">
          <button
            mat-button
            matStepperNext
            type="button"
            [disabled]="this.examForm.invalid"
          >
            <b>Next</b>
          </button>
        </div>
      </mat-step>
    </div>

    <div [formGroup]="questionForm">
      <mat-step label="Add Questions to Exam" [editable]="true">
        <div class="step-container">
          <mat-grid-list cols="4" rowHeight="250px">
            <mat-grid-tile colspan="3" rowspan="1">
              <mat-card style="width: 100%">
                <mat-card-content
                  ><br /><br />Question Preview<br /><br
                /></mat-card-content>
              </mat-card>
            </mat-grid-tile>

            <mat-grid-tile colspan="1" rowspan="2" style="overflow-y: auto">
              <div style="display: flex; flex-direction: column">
                <div class="tree-container">
                  <mat-tree
                    [dataSource]="dataSource"
                    [treeControl]="treeControl"
                  >
                    <mat-tree-node
                      *matTreeNodeDef="let node"
                      matTreeNodeToggle
                      matTreeNodePadding
                    >
                      <button mat-icon-button disabled></button>{{node.item}}
                      <button
                        mat-icon-button
                        (click)="deleteItem(node)"
                        #tooltip="matTooltip"
                        matTooltip="Remove this question."
                      >
                        <mat-icon>delete</mat-icon>
                      </button>
                    </mat-tree-node>

                    <mat-tree-node
                      *matTreeNodeDef="let childNode; when: hasNoContent"
                      matTreeNodePadding
                    >
                      <button mat-icon-button disabled></button>
                      <mat-form-field appearance="fill">
                        <mat-label>New question...</mat-label>
                        <input
                          matInput
                          #itemValue
                          placeholder="E.g. Question 1"
                        />
                      </mat-form-field>
                      <button
                        mat-button
                        (click)="saveNode(childNode, itemValue.value)"
                      >
                        Save
                      </button>
                      <button
                        mat-icon-button
                        #tooltip="matTooltip"
                        matTooltip="Remove this question."
                      >
                        <mat-icon>delete</mat-icon>
                      </button>
                    </mat-tree-node>

                    <mat-tree-node
                      *matTreeNodeDef="let node; when: hasChild"
                      matTreeNodePadding
                    >
                      <button
                        mat-icon-button
                        matTreeNodeToggle
                        [attr.aria-label]="'Toggle ' + node.item"
                      >
                        <mat-icon class="mat-icon-rtl-mirror">
                          {{treeControl.isExpanded(node) ? 'expand_more' :
                          'chevron_right'}}
                        </mat-icon>
                      </button>
                      {{node.item}}
                      <button
                        mat-icon-button
                        (click)="addNewItem(node)"
                        #tooltip="matTooltip"
                        matTooltip="Add a new question to this section."
                      >
                        <mat-icon>add</mat-icon>
                      </button>
                      <button
                        mat-icon-button
                        (click)="deleteItem(node)"
                        #tooltip="matTooltip"
                        matTooltip="Remove this section."
                      >
                        <mat-icon>delete</mat-icon>
                      </button>
                    </mat-tree-node>
                  </mat-tree>
                </div>
                <mat-divider></mat-divider>
                <div class="tree-button-container">
                  <button
                    mat-raised-button
                    type="button"
                    (click)="addNewQuestion()"
                  >
                    <mat-icon>add</mat-icon> Add New Question
                  </button>
                  <button
                    mat-raised-button
                    type="button"
                    (click)="addNewSection()"
                  >
                    <mat-icon>add</mat-icon>Add New Section
                  </button>
                </div>
              </div>
            </mat-grid-tile>

            <mat-grid-tile
              colspan="3"
              rowspan="1"
              style="background: 'lightpink'"
            >
              <mat-form-field class="form-field" appearance="outline">
                <mat-label>Question name</mat-label>
                <input
                  matInput
                  id="questionName"
                  formControlName="questionName"
                  type="text"
                  placeholder="E.g. Question 1 - Multiple Choice"
                  required
                />
                <mat-error>
                  <app-error-message
                    [control]="questionForm.controls['questionName'].errors"
                  ></app-error-message>
                </mat-error>
              </mat-form-field>

              <mat-form-field appearance="outline" class="form-field">
                <mat-label>Question Type</mat-label>
                <mat-select formControlName="questionType">
                  <mat-option
                    *ngFor="let questionType of questionTypes"
                    [value]="questionType.type"
                    #tooltip="matTooltip"
                    [matTooltip]="questionType.label + ': ' + questionType.description"
                    >{{questionType.label}}</mat-option
                  >
                </mat-select>
                <mat-error>
                  <app-error-message
                    [control]="examForm.controls['assignedTeacher'].errors"
                  ></app-error-message>
                </mat-error>
              </mat-form-field>
            </mat-grid-tile>
          </mat-grid-list>

          <div class="stepper-navigation">
            <button mat-button matStepperPrevious type="button">Back</button>
            <button mat-button type="button" (click)="saveExamClick()">
              <b>Save Exam</b>
            </button>
          </div>
        </div>
      </mat-step>
    </div>
  </mat-stepper>
</div>
<!-- <mat-dialog-actions align="end">
  <button mat-button color="primary" [mat-dialog-close]="false">Cancel</button>
  <button
    class="okButton"
    mat-raised-button
    cdkFocusInitial
    [mat-dialog-close]="this.examForm.value"
    [disabled]="this.examForm.invalid"
  >
    Save
  </button>
</mat-dialog-actions> -->
