<button
  *ngIf="(authStoreService.isLoggedIn$ | async) && currentUser?.userType?.toLowerCase() !== 'school'"
  class="edit-profile-button"
  mat-mini-fab
  #tooltip="matTooltip"
  matTooltip="Edit your profile"
  (click)="openEditUserDialog()"
>
  <mat-icon>edit</mat-icon>
</button>
<div
  [class]="currentUser?.userType?.toLowerCase() !== 'school' ? 'image-container' : 'admin-image-container'"
  style="overflow-x: hidden"
>
  <div
    [class]="currentUser?.userType?.toLowerCase() !== 'school' ? 'profile-picture-container' : 'admin-profile-picture-container'"
    [class.profile-picture-container-closed]="!sideNavOpen"
  >
    <img [src]="profilePictureSrc" class="profile-picture" />
  </div>
  <mat-chip-list
    routerLink="student/signup"
    *ngIf="authStoreService.isLoggedOut$ | async"
    class="chip-container"
    #tooltip="matTooltip"
    matTooltip="Click here to login"
    ><mat-chip class="button chip" selected
      >Login / Signup</mat-chip
    ></mat-chip-list
  >
  <h2
    class="user-name-header"
    *ngIf="sideNavOpen && currentUser?.userType?.toLowerCase() !== 'school'"
  >
    {{currentUser?.name}}
  </h2>
  <!-- <h4
    class="user-name-header"
    *ngIf="sideNavOpen && currentUser?.userType?.toLowerCase() === 'school'"
  >
    {{currentUser?.name}}
  </h4> -->
  <h2
    class="text-warning"
    *ngIf="currentUser?.level && currentUser?.userType?.toLowerCase() === 'student'"
  >
    <mat-icon *ngIf="sideNavOpen">star</mat-icon>
    {{currentUser?.level?.shortName}}
    <mat-icon *ngIf="sideNavOpen">star</mat-icon>
  </h2>
  <mat-chip-list
    *ngIf="!currentUser?.level && currentUser?.userType?.toLowerCase() === 'student'"
    class="chip-container"
    #tooltip="matTooltip"
    matTooltip="Take your free English level test before you enrol in a class"
    ><mat-chip class="button chip" selected [routerLink]="'/exams'"
      >Click here to test your English Level</mat-chip
    ></mat-chip-list
  >
</div>
<mat-divider></mat-divider>
<mat-list>
  <div
    *ngFor="let menuItem of menuItems"
    [class]="sideNavOpen ? 'sidenav-container' : 'sidenav-container-closed'"
  >
    <mat-list-item
      [class.active]="breadCrumb === getMenuItemName(menuItem)"
      *ngIf="menuItem.use.includes(currentUser?.userType?.toLowerCase() ?? 'student')"
      [routerLink]="menuItem.routerLink"
    >
      <mat-icon
        matListItemIcon
        [matTooltip]="!sideNavOpen ? getMenuItemName(menuItem) : ''"
        matTooltipPosition="right"
        [class]="sideNavOpen ? 'sidenav-icon' : 'sidenav-icon-closed'"
        [class.active]="breadCrumb === getMenuItemName(menuItem)"
        [matBadge]="badgeCounts[getMenuItemName(menuItem)] !== null && badgeCounts[getMenuItemName(menuItem)] !== 0 && !sideNavOpen ? badgeCounts[getMenuItemName(menuItem)] : ''"
        matBadgeOverlap="true"
        >{{ menuItem.icon}}</mat-icon
      >
      <div
        matListItemTitle
        *ngIf="sideNavOpen"
        [matBadge]="badgeCounts[getMenuItemName(menuItem)] !== null && badgeCounts[getMenuItemName(menuItem)] !== 0 ? badgeCounts[getMenuItemName(menuItem)] : ''"
        matBadgeOverlap="false"
        [class]="sideNavOpen ? 'sidenav-text' : 'sidenav-text-closed'"
      >
        {{ getMenuItemName(menuItem)}}
      </div>
    </mat-list-item>
  </div>
</mat-list>
