<div *ngIf="aiMarkingLoading" class="exam-form-loading-spinner-container">
  <mat-spinner></mat-spinner>
  <span>Applying AI marking and feedback, please wait.</span>
</div>

<div *ngIf="submitExamLoading" class="exam-form-loading-spinner-container">
  <mat-spinner></mat-spinner>
  <span>Submitting your responses, please wait.</span>
</div>

<ng-container>
  <app-dialog-header
    [dialogTitle]="data.title"
    (closeAction)="closeDialog(null)"
  ></app-dialog-header>

  <mat-dialog-content
    class="dialog-content"
    [class]="(aiMarkingLoading || submitExamLoading) ? 'exam-form-loading-overlay' : ''"
  >
    <!----- ---------------------- ----->
    <!----- Start Exam Button: --------->
    <!----- ---------------------- ----->
    <div *ngIf="!examStarted">
      <div>
        <span>{{data.exam.instructions}}</span>
      </div>
      <div
        style="
          display: flex;
          flex-direction: column;
          align-items: center;
          margin-top: 100px;
        "
      >
        <button
          mat-raised-button
          type="button"
          class="button start-exam-button"
          (click)="startExam()"
          style="display: flex; align-items: center; gap: 8px"
        >
          <span>Start Exam</span>
        </button>
      </div>
    </div>

    <div class="row" *ngIf="examStarted">
      <!----- ---------------------- ----->
      <!----- Question/Section List: ----->
      <!----- ---------------------- ----->
      <div class="col-sm-2 question-list-container">
        <div style="display: flex; flex-direction: column">
          <div class="tree-container">
            <mat-list role="list" *ngFor="let question of questionList">
              <!----- Question List: ----->
              <mat-list-item
                role="listitem"
                (click)="selectQuestion(question)"
                class="questionListItem"
                *ngIf="!question.parent"
              >
                <div style="display: flex; align-items: center">
                  <span
                    [class]="question === currentQuestionDisplay ? 'current-question' : ''"
                    style="cursor: pointer"
                    >{{question.name}}</span
                  >
                  <span
                    *ngIf="
                      getStudentMark(question) !== null && 
                      getStudentMark(question) !== undefined &&
                      question.type !== 'information-page'

                      "
                    style="opacity: 0.6; white-space: nowrap"
                  >
                    &nbsp; {{getStudentMark(question)}} /
                    {{question?.totalPointsMax}}</span
                  >
                </div>
              </mat-list-item>
              <div>
                <mat-list-item
                  class="subQuestionListItem"
                  *ngFor="let subQuestion of question.subQuestions"
                  [class]="subQuestion === currentQuestionDisplay ? 'current-question' : ''"
                  (click)="selectQuestion(subQuestion)"
                >
                  <span style="cursor: pointer"
                    >&#x2022; {{subQuestion.name}}</span
                  >
                  <span
                    *ngIf="
                      getStudentMark(question) !== null && 
                      getStudentMark(question) !== undefined &&
                      subQuestion.type !== 'information-page'
                      "
                    style="opacity: 0.6; white-space: nowrap"
                  >
                    &nbsp; {{getStudentMark(subQuestion)}} /
                    {{question?.totalPointsMax}}</span
                  >
                </mat-list-item>
              </div>
            </mat-list>

            <!----- Total Scoring: ----->
            <mat-divider></mat-divider>
            <div
              style="margin-top: 20px"
              *ngIf="!data.displayMode && data.markMode"
            >
              <span (click)="getScaledTotalExamScore()"
                ><b>Total Score: &nbsp;</b></span
              >
              <span style="white-space: nowrap"
                >&nbsp; {{getScaledTotalExamScore()}} /
                {{data.exam.totalPointsMax}}</span
              >
            </div>
          </div>
        </div>
      </div>

      <!----- ---------------------- ----->
      <!----- Questions  Display Box ----->
      <!----- ---------------------- ----->

      <div class="col-sm-10" style="margin-top: 25px">
        <app-questions
          [question]="currentQuestionDisplay ?? undefined"
          [displayMode]="data.displayMode"
          [studentId]="data.studentId"
          [currentUser]="data.currentUser"
          [markMode]="data.markMode"
          (updateStudentResponse)="updateStudentResponse($event)"
        ></app-questions>

        <!----- ---------------------- ----->
        <!----- Teacher Feedback ----------->
        <!----- ---------------------- ----->

        <!-- Marking Table: -->
        <div
          class="marking-table"
          [class.exam-form-loading-overlay]="aiMarkingLoading || submitExamLoading"
          role="region"
          tabindex="0"
          *ngIf="
            !['multiple-choice-single', 'multiple-choice-multi', 'reorder-sentence', 'match-options', 'fill-in-the-blanks', 'fill-in-blanks-select', 'information-page'].includes(currentQuestionDisplay?.type ?? '') && 
            data.markMode &&
            currentQuestionDisplay?.type !== 'section'
            "
          [formGroup]="feedbackForm"
        >
          <div class="marking-table-header-row">
            <div class="marking-table-header-cell">Category</div>
            <div
              class="marking-table-header-cell"
              *ngFor="let level of demoLevels"
            >
              {{ level.shortName }}
            </div>
          </div>
          <div
            class="marking-table-row"
            *ngFor="let category of getMarkingCategories()"
          >
            <div>{{ category.displayName }}</div>
            <mat-radio-group
              class="marking-table-radio-group"
              aria-label="Select a result"
              [formControlName]="category.value"
            >
              <div
                class="marking-table-cell"
                *ngFor="let level of demoLevels; let colIndex = index"
              >
                <mat-radio-button
                  [value]="level.number"
                  (click)="onMarkSelect(colIndex, category.value)"
                ></mat-radio-button>
              </div>
            </mat-radio-group>
          </div>
        </div>

        <!-- Teacher Feedback Form: -->
        <div
          *ngIf="currentQuestionDisplay?.teacherFeedback && data.markMode"
          [formGroup]="feedbackForm"
          [class.exam-form-loading-overlay]="aiMarkingLoading || submitExamLoading"
        >
          <mat-form-field
            class="form-field"
            appearance="outline"
            style="width: 100%"
          >
            <mat-label [style]="data.markMode ? 'color:black' : ''"
              >Feedback</mat-label
            >
            <textarea
              matInput
              id="teacherFeedback"
              #teacherFeedback
              formControlName="teacherFeedback"
              type="text"
              placeholder="Give the student some helpful feedback..."
              [required]="data.markMode && data.currentUser?.userType?.toLowerCase() ==='teacher'"
              rows="5"
              [style]="data.markMode ? 'color:black' : ''"
              (keyup)="feedbackTextChange(teacherFeedback.value)"
            ></textarea>
            <mat-error>
              <app-error-message
                [control]="feedbackForm.controls['teacherFeedback'].errors"
              ></app-error-message>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
    </div>
  </mat-dialog-content>

  <!----- ---------------------- ----->
  <!----- Dialog Actions ------- ----->
  <!----- ---------------------- ----->

  <mat-dialog-actions
    align="end"
    *ngIf="examStarted"
    [class.exam-form-loading-overlay]="aiMarkingLoading || submitExamLoading"
  >
    <button
      mat-button
      *ngIf="
        currentQuestionDisplay !== questionList[0] && 
        (subQuestionIndex() !== 'first' || subQuestionIndex() === '')"
      (click)="previousQuestion()"
    >
      <mat-icon>navigate_before</mat-icon>Previous
    </button>
    <button
      mat-raised-button
      cdkFocusInitial
      class="button"
      (click)="nextQuestion()"
      *ngIf="
        currentQuestionDisplay?.type?.toLowerCase() !== 'section' && 
        (subQuestionIndex() !== 'last' || subQuestionIndex() === '') &&
        !isLastQuestion()
    "
    >
      Next <mat-icon>navigate_next</mat-icon>
    </button>
    <button
      mat-button
      cdkFocusInitial
      (click)="completeSection()"
      *ngIf="
        currentQuestionDisplay?.type?.toLowerCase() !== 'section' && 
        subQuestionIndex() === 'last' &&
        !isLastParentQuestion()
        "
    >
      Complete section
    </button>
    <button
      mat-raised-button
      class="button"
      cdkFocusInitial
      (click)="completeExam()"
      *ngIf="
        (isLastQuestion() || subQuestionIndex() === 'last') && 
        (isLastParentQuestion() || subQuestionIndex() === '') && 
        data.currentUser?.userType?.toLowerCase() === 'student' && 
        !data.displayMode && 
        !data.markMode && 
        currentQuestionDisplay?.type?.toLowerCase() !== 'section'
        "
      [disabled]="invalidStudentResponses()"
      #tooltip="matTooltip"
      [matTooltip]="invalidStudentResponses() ? 'One or more of your responses are invalid. Please double check before submitting' : ''"
    >
      Submit exam <mat-icon>done</mat-icon>
    </button>
    <button
      mat-raised-button
      class="button"
      cdkFocusInitial
      (click)="onSubmitFeedbackClick()"
      *ngIf="
        (isLastQuestion() || subQuestionIndex() === 'last') && 
        (isLastParentQuestion() || subQuestionIndex() === '') && 
        data.currentUser?.userType?.toLowerCase() === 'teacher' && 
        !data.displayMode && 
        data.markMode && 
        currentQuestionDisplay?.type?.toLowerCase() !== 'section'"
      [disabled]="invalidTeacherFeedback()"
      #tooltip="matTooltip"
      [matTooltip]="invalidTeacherFeedback() ? 'One or more of your feedback responses are invalid. Please double check before submitting' : ''"
    >
      Submit feedback <mat-icon>done</mat-icon>
    </button>
    <button
      mat-button
      cdkFocusInitial
      (click)="startSection()"
      *ngIf="currentQuestionDisplay?.type?.toLowerCase() === 'section'"
    >
      <span
        *ngIf="
          data.currentUser?.userType?.toLowerCase() === 'student' && 
          !data.displayMode && 
          !data.markMode"
        >Start section</span
      >
      <span
        *ngIf="
          data.currentUser?.userType?.toLowerCase() !== 'student' || 
          data.displayMode || 
          data.markMode"
        >View section</span
      >
    </button>
  </mat-dialog-actions>
</ng-container>
