<app-header-card
  (filterResults)="filterResults($event)"
  [currentSchool]="currentSchool$ | async"
  [pageName]="pageName"
></app-header-card>
<mat-progress-bar
  [style]="{ visibility: userPageLoading ? 'visible' : 'hidden' }"
  mode="query"
></mat-progress-bar>
<div class="page-content" *ngIf="!this.userPageLoading">
  <div *ngIf="pageType==='Card'">
    <div *ngFor="let user of (filteredUsers$ | async)">
      <app-user-card
        [user]="user"
        [userType]="userType"
        (openConfirmDeleteDialog)="openConfirmDeleteDialog($event)"
      ></app-user-card>
    </div>
  </div>
  <mat-tab-group
    class="home-tab-group"
    mat-stretch-tabs
    *ngIf="pageType==='Table'"
  >
    <mat-tab
      *ngFor="let viewType of ['All', 'Active','Inactive']"
      [label]="viewType"
    >
      <div class="table-container">
        <app-user-table
          [userData]="users$ | async"
          (openEditUserDialog)="openEditUserDialog($event)"
          (openConfirmDeleteDialog)="openConfirmDeleteDialog($event)"
        ></app-user-table>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
