<app-header-card
  [currentSchool]="currentSchool$ | async"
  [currentUser]="currentUser$ | async"
  [pageName]="'home'"
  [pageStyles]="{primaryButtonBackgroundColor, 'primaryButtonTextColor':primaryButtonTextColor }"
></app-header-card>
<mat-progress-bar
  [style]="{ visibility: homePageLoading ? 'visible' : 'hidden' }"
  mode="query"
></mat-progress-bar>
<div class="page-content">
  <mat-tab-group
    class="home-tab-group"
    mat-stretch-tabs
    [ngStyle]="{
    '--primaryButtonBackgroundColor': primaryButtonBackgroundColor
  }"
  >
    <mat-tab label="All">
      <div *ngFor="let lesson of (lessons$ | async)">
        <app-lesson-card
          *ngIf="lesson.name && getLessonStatus('Upcoming Lessons', lesson)"
          [lessonTypeFilter]="undefined"
          [lesson]="lesson"
          [users]="users$ | async"
          [currentUser]="currentUser$ | async"
          [pageStyles]="{primaryButtonBackgroundColor, 'primaryButtonTextColor':primaryButtonTextColor }"
          (joinLesson)="joinLesson($event)"
          (cancelLesson)="cancelLesson($event)"
          (refreshLessons)="loadPageData()"
        ></app-lesson-card>
      </div>
    </mat-tab>
    <mat-tab
      *ngFor="let lessonType of (lessonTypes$ | async)"
      [label]="!smallScreen ? lessonType.name : lessonType.shortName"
    >
      <div *ngFor="let lesson of (lessons$ | async)">
        <app-lesson-card
          *ngIf="lesson.name && getLessonStatus('Upcoming Lessons', lesson)"
          [lessonTypeFilter]="lessonType"
          [lesson]="lesson"
          [users]="users$ | async"
          [currentUser]="currentUser$ | async"
          [pageStyles]="{primaryButtonBackgroundColor, 'primaryButtonTextColor':primaryButtonTextColor }"
          (joinLesson)="joinLesson($event)"
        ></app-lesson-card></div
    ></mat-tab>
  </mat-tab-group>
</div>
