<app-header-card></app-header-card>
<mat-progress-bar
  [style]="{ visibility: homePageLoading ? 'visible' : 'hidden' }"
  mode="query"
></mat-progress-bar>
<div class="page-content">
  <mat-tab-group class="home-tab-group" mat-stretch-tabs>
    <mat-tab label="All">
      <div *ngFor="let lesson of (lessons$ | async)">
        <app-lesson-card
          *ngIf="lesson.name && getLessonStatus('Upcoming Lessons', lesson)"
          [lessonTypeFilter]="undefined"
          [lesson]="lesson"
          [users]="users$ | async"
          (joinLesson)="joinLesson($event)"
          (cancelLesson)="cancelLesson($event)"
        ></app-lesson-card>
      </div>
    </mat-tab>
    <mat-tab
      *ngFor="let lessonType of (lessonTypes$ | async)"
      [label]="!smallScreen ? lessonType.name : lessonType.shortName"
    >
      <div *ngFor="let lesson of (lessons$ | async)">
        <app-lesson-card
          *ngIf="lesson.name && getLessonStatus('Upcoming Lessons', lesson)"
          [lessonTypeFilter]="lessonType"
          [lesson]="lesson"
          [users]="users$ | async"
          (joinLesson)="joinLesson($event)"
        ></app-lesson-card></div
    ></mat-tab>
  </mat-tab-group>
</div>
