<ng-container>
  <app-dialog-header
    [dialogTitle]="exam && exam.name ? ('Students completed - ' + exam.name) : 'Students completed'"
    (closeAction)="closeDialog()"
  ></app-dialog-header>

  <mat-dialog-content>
    <mat-tab-group>
      <!-- Students enrolled tab: -->
      <mat-tab label="Students enrolled">
        <div *ngIf="studentsEnrolled.length === 0" style="margin-top: 5px">
          No students enrolled in this exam.
        </div>
        <mat-list style="margin-top: 10px">
          <mat-list-item
            style="margin-bottom: 40px"
            *ngFor="let student of studentsEnrolled"
          >
            <div
              style="display: flex; justify-content: space-between; width: 100%"
            >
              <div>
                <div>{{ student.name }}</div>
                <span style="opacity: 0.6"
                  >ID:<i> {{ student.studentId }}</i></span
                >
              </div>
            </div>
          </mat-list-item>
        </mat-list>
      </mat-tab>

      <!-- Students completed tab: -->
      <mat-tab label="All Students Completed">
        <mat-list style="margin-top: 10px">
          <mat-list-item
            *ngFor="let student of studentsCompleted"
            style="margin-bottom: 40px"
          >
            <div
              style="display: flex; justify-content: space-between; width: 100%"
            >
              <div>
                <div>{{ student.name }}</div>
                <span style="opacity: 0.6"
                  >ID:<i> {{ student.studentId }}</i></span
                >
                <div *ngIf="student.marked">
                  Exam Mark: &nbsp;
                  <span style="white-space: nowrap"
                    >&nbsp; {{ student.marked }} / {{exam.totalPointsMax}}</span
                  >
                </div>
              </div>
              <div
                style="cursor: pointer"
                (click)="markExam(student)"
                #tooltip="matTooltip"
                [matTooltip]="student.marked ? 'Edit mark/feedback for ' + student.name : 'Mark exam of ' + student.name"
              >
                <b *ngIf="student.marked"
                  >edit feedback
                  <mat-icon style="font-size: larger">rate_review</mat-icon></b
                >
                <b *ngIf="!student.marked"
                  >mark exam
                  <mat-icon style="font-size: larger">rate_review</mat-icon></b
                >
              </div>
            </div>
            <hr />
          </mat-list-item>
        </mat-list>
      </mat-tab>

      <!-- Students awaiting mark tab: -->
      <mat-tab label="Students awaiting marking">
        <div *ngIf="studentsAwaitingMarkCount() === 0" style="margin-top: 5px">
          No exams to be marked.
        </div>
        <mat-list style="margin-top: 10px">
          <mat-list-item
            style="margin-bottom: 40px"
            *ngFor="let student of studentNamesAwaitingMark"
          >
            <div
              style="display: flex; justify-content: space-between; width: 100%"
            >
              <div>
                <div>{{ student.name }}</div>
                <span style="opacity: 0.6"
                  >ID:<i> {{ student.studentId }}</i></span
                >
              </div>
              <div
                style="cursor: pointer"
                (click)="markExam(student)"
                #tooltip="matTooltip"
                [matTooltip]="'Mark exam of ' + student.name"
              >
                <b
                  >mark exam
                  <mat-icon style="font-size: larger">rate_review</mat-icon></b
                >
              </div>
            </div>
          </mat-list-item>
        </mat-list>
      </mat-tab>
    </mat-tab-group>
  </mat-dialog-content>

  <app-dialog-actions
    (cancelAction)="closeDialog()"
    [hideSaveButton]="true"
  ></app-dialog-actions>
</ng-container>
