<ng-container>
  <app-dialog-header
    dialogTitle="Messages"
    (closeAction)="closeFormClick()"
  ></app-dialog-header>
  <app-messenger-dialog-full-view
    [messages]="messages$ | async"
    [conversations]="conversations$ | async"
    [users]="data.users"
    [currentUser]="data.currentUser"
    [miniDilaogMode]="data.miniDilaogMode"
    (sendMessage)="sendMessage($event)"
    (deleteMessage)="deleteMessage($event)"
    (editMessage)="editMessage($event)"
    (deleteGroup)="deleteGroup($event)"
    (selectChat)="selectChat($event)"
    (markAsSeen)="markAsSeen($event)"
    (openFullMessenger)="openFullMessenger()"
    (changeCurrentUserTypingStatus)="changeCurrentUserTypingStatus($event)"
  ></app-messenger-dialog-full-view>
</ng-container>
