<ng-container>
  <app-dialog-header
    [dialogTitle]="data.title"
    (closeAction)="closeDialog(false)"
  ></app-dialog-header>
  <mat-dialog-content>
    <div [formGroup]="userForm">
      <mat-form-field
        class="form-field"
        appearance="outline"
        *ngIf="data.formType !== 'level'"
      >
        <mat-label>Name</mat-label>
        <input
          matInput
          id="name"
          formControlName="name"
          type="text"
          placeholder="Enter your first and last name"
          required
        />
        <mat-error>
          <app-error-message
            [control]="userForm.controls['name'].errors"
          ></app-error-message>
        </mat-error>
      </mat-form-field>

      <mat-form-field
        class="form-field"
        appearance="outline"
        *ngIf="data.formType !== 'level'"
      >
        <mat-label>Email</mat-label>
        <input
          matInput
          id="email"
          formControlName="email"
          type="email"
          placeholder="Email address (e.g. john@gmail.com)"
          required
        />
        <mat-icon matSuffix>email</mat-icon>
        <mat-error>
          <app-error-message
            [control]="userForm.controls['email'].errors"
          ></app-error-message>
        </mat-error>
      </mat-form-field>

      <mat-form-field
        class="form-field"
        appearance="outline"
        *ngIf="data.formType !== 'level'"
      >
        <mat-label>Phone Number (Optional)</mat-label>
        <input
          matInput
          id="phone"
          formControlName="phone"
          type="phone"
          placeholder="include country and area code (e.g. +61 111 222 333)"
        />
        <mat-icon matSuffix>phone</mat-icon>
        <mat-error>
          <app-error-message
            [control]="userForm.controls['phone'].errors"
          ></app-error-message>
        </mat-error>
      </mat-form-field>

      <mat-form-field
        class="form-field"
        appearance="outline"
        *ngIf="data.formType !== 'level'"
      >
        <mat-label>Country of Origin</mat-label>
        <mat-select formControlName="nationality" required>
          <mat-option value="other">Select country...</mat-option>
          <mat-option *ngFor="let country of countryList" [value]="country">
            {{ country }}
          </mat-option>
          <mat-option value="other">OTHER</mat-option>
        </mat-select>
        <mat-icon matSuffix>language</mat-icon>
      </mat-form-field>

      <mat-form-field
        class="form-field"
        appearance="outline"
        *ngIf="data.formType?.toLowerCase() === 'level' || data.formType === 'student'"
      >
        <mat-label>Level</mat-label>
        <mat-select formControlName="level">
          <mat-option *ngFor="let level of demoLevels" [value]="level">
            {{ level.longName }}
          </mat-option>
          <mat-option *ngIf="data?.currentUser?.level" [value]="null">
            Remove level
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field
        class="form-field"
        appearance="outline"
        *ngIf="data.currentUser?.userType?.toLowerCase() === 'teacher' || data.teacherForm"
      >
        <mat-label>Personal Statement</mat-label>
        <textarea
          matInput
          id="statement"
          formControlName="statement"
          type="text"
          placeholder="Tell your students a little bit about yourself..."
          [required]="data.currentUser?.userType === 'teacher' || data.teacherForm === true"
        ></textarea>
        <mat-error>
          <app-error-message
            [control]="userForm.controls['statement'].errors"
          ></app-error-message>
        </mat-error>
      </mat-form-field>

      <mat-form-field
        class="form-field"
        appearance="outline"
        *ngIf="!data.currentUser"
      >
        <mat-label>Password</mat-label>
        <input
          matInput
          id="unhashedPassword"
          formControlName="unhashedPassword"
          [type]="hidePassword ? 'password' : 'text'"
          placeholder="Enter your password"
          required
        />
        <button
          *ngIf="this.userForm.getRawValue().unhashedPassword !== ''"
          mat-icon-button
          matSuffix
          (click)="hidePassword = !hidePassword"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hidePassword"
        >
          <mat-icon
            >{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon
          >
        </button>
        <mat-error>
          <app-error-message
            [control]="userForm.controls['unhashedPassword'].errors"
          ></app-error-message>
        </mat-error>
      </mat-form-field>

      <mat-form-field
        appearance="outline"
        class="form-field"
        *ngIf="!data.currentUser && this.userForm.getRawValue().unhashedPassword !== ''"
      >
        <mat-label>Confirm Password</mat-label>
        <input
          matInput
          id="passwordMatchInput"
          formControlName="passwordMatchInput"
          [type]="hidePassword ? 'password' : 'text'"
          placeholder="Re-enter your password"
          [required]="!data.currentUser"
        />
        <mat-error>
          <app-error-message
            [control]="userForm.controls['passwordMatchInput'].errors"
          ></app-error-message>
        </mat-error>
      </mat-form-field>

      <!-- Image Cropper: -->
      <mat-form-field
        *ngIf="data.formType !== 'level'"
        class="form-field"
        appearance="outline"
      >
        <mat-label>Image (Optional)</mat-label>
        <input
          #photoInput
          type="file"
          hidden="true"
          (change)="fileChangeEvent($event)"
          accept="image/png, image/jpeg, image/gif, image/tiff"
        />
        <input
          (click)="photoInput.click()"
          matInput
          readonly
          [placeholder]="photoName || 'No file chosen'"
        />
        <mat-icon matSuffix style="cursor: pointer" (click)="photoInput.click()"
          >add_photo_alternate</mat-icon
        >
      </mat-form-field>
    </div>
    <!-- <div *ngIf="data.currentUser?.profilePicture && !photoLink">
      <img
        [src]="photoLink ? photoLink : data.currentUser?.profilePicture?.url"
        alt="User Photo"
      />
    </div> -->
    <div
      *ngIf="data.currentUser?.profilePicture && !photoName && data.formType !== 'level'"
    >
      <img [src]=" data.currentUser?.profilePicture?.url" alt="User Photo" />
    </div>
    <image-cropper
      format="png"
      [imageChangedEvent]="imageChangedEvent"
      [maintainAspectRatio]="true"
      [aspectRatio]="4 / 3"
      [resizeToWidth]="215"
      (imageCropped)="imageCropped($event)"
      (imageLoaded)="imageLoaded()"
      (cropperReady)="cropperReady()"
      (loadImageFailed)="loadImageFailed()"
    ></image-cropper>
  </mat-dialog-content>
  <app-dialog-actions
    (saveAction)="closeDialog(this.userForm.value)"
    (cancelAction)="closeDialog(false)"
    [disabled]="this.userForm.invalid"
  ></app-dialog-actions>
</ng-container>
