   /* ---------------------- */
  /* ---------Card -- -----: */
  /* ---------------------- */
.scene {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    perspective: 600px;
  }
  
  .card {
    position: relative;
    display: inline-block;
    width: 600px;
    min-height: 500px;
    transform-style: preserve-3d;
    transform-origin: center right;
    transition: transform 1s;
    margin-top: -1500px;
    /* box-shadow: 0 40px 60px #6b0b64; */
    transform: scale(0.9);
  }
  
  .card.is-flipped {
    transform: translateX(-100%) rotateY(-180deg);
  }
  
  .card__face {
    position: absolute;
    width: 100%;
    backface-visibility: hidden;
  }
  
  .card__face--front {
    background: white;
    display: flex;
    flex-direction: column;
    padding: 16px;
  }
  
  .card__face--back {
    background: white;
    display: flex;
    flex-direction: column;
    padding: 16px;
    transform: rotateY(180deg);
  }
  
  .text-container {
    display:block;
    margin-top: 0px;
    display: flex;
    justify-content: center;
  }
  
  .login-text {
    margin-top: 15px;
    cursor: pointer;   
  }
  
  .form-field {
    width: 100%;
  }
  
  .login-signup-button {
    background-color: #6200EE;
    color: white;
  }

  /* ---------------------- */
  /* Dynamic Button Format: */
  /* ---------------------- */
  
  :host {
    --primaryButtonBackgroundColor: #6200EE;
    --primaryButtonTextColor: #FFFFFF;
  }
  
  ::ng-deep .mat-step-header .mat-step-icon, .login-signup-button, .mat-stepper-next, .login-signup-button {
    background-color: var(--primaryButtonBackgroundColor);
    color: var(--primaryButtonTextColor);
  }

  .add-lesson-type {
    color: var(--primaryButtonBackgroundColor);
    cursor: pointer;
  }

   /* ---------------------- */
  /* ---------Stepper -----: */
  /* ---------------------- */
  
  /* todo: move to gloval stylings */
  .stepper-navigation {
    margin-top: 16px;
    display: flex;
    justify-content: flex-end;
    margin-top: 20px; 
  }
  
  .skip-button {
    display: flex; 
    align-items: center
  }

  :host {
    --stepperDisplay: flex !important;
  }

  ::ng-deep .mat-horizontal-stepper-header-container {
    display: var(--stepperDisplay) !important;
  }
  
  /* ---------------------- */
  /*------ Lesson List:---- */
  /* ---------------------- */

  .lesson-list-item {
    display: flex;
    justify-content: space-between;
  }
  
  .lesson-list-content {
    flex: 1;
  }
  
  .lesson-list-delete-icon {
    margin-right: 10%;
    cursor: pointer;
  }

  .image-button-container {    
    flex: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;    
    margin-top:25px;
    margin-bottom:25px;
}

  /* ---------------------- */
  /* -- -----Slider: ------ */
  /* ---------------------- */

  :host {
    --backgroundGradient: radial-gradient(circle at 50% 50%, #c31092 9.5%, #c31092 19%) !important;
    --primaryButtonBackgroundColor: #c31092;
  }

  ::ng-deep .mat-slider-wrapper, ::ng-deep .mat-slider-ticks, ::ng-deep .mat-slider-ticks-container, ::ng-deep .mat-slider-ticks-wrapper {
    background: var(--backgroundGradient) !important;
    background-color: var(--backgroundGradient) !important;
  }

  ::ng-deep .mat-slider-thumb, ::ng-deep .mat-slider-thumb-label {
    color:var(--primaryButtonBackgroundColor) !important;
    background-color:var(--primaryButtonBackgroundColor) !important;
  }

::ng-deep .mat-slider-wrapper{
  height: 20px !important;
  border-bottom-left-radius: 10px !important;
  border-bottom-right-radius: 10px !important; 
}
