<ng-container>
  <app-dialog-header
    [dialogTitle]="data.title"
    (closeAction)="closeDialog()"
  ></app-dialog-header>
  <h5>Question: {{temporarycurrentQuestionDisplay.name}}</h5>
  <div mat-dialog-content>
    <div class="form-field" style="max-height: 400px; overflow-y: auto">
      <mat-list role="list">
        <div
          *ngFor="let question of temporarycurrentQuestionDisplay?.fillBlanksQuestionList; let questionIndex = index"
          class="question-row"
        >
          <div class="textarea-container">
            <span>
              <button
                mat-icon-button
                matTooltip="Delete this question"
                matTooltipPosition="after"
                (click)="removeQuestion(questionIndex)"
              >
                <mat-icon>delete</mat-icon>
              </button>
            </span>
            <span *ngIf="!temporarycurrentQuestionDisplay?.randomQuestionOrder">
              {{ letters[questionIndex] }}:
            </span>
            <textarea
              [(ngModel)]="question.text"
              rows="5"
              cols="50"
              #textArea
              class="fill-blanks-textbox"
              (click)="preventClickOnBlanks($event, questionIndex)"
              (keydown)="charLengthWarning(textArea, 2000)"
              (keydown)="preventArrowKeysOnBlanks($event, questionIndex)"
              (keydown)="preventDeleteOnBlanks($event, questionIndex)"
              (keydown)="preventDisallowedKeys($event)"
              (paste)="sanitizePaste($event, textArea, 2000)"
              (select)="preventHighlightingBlanks($event, questionIndex)"
              maxlength="maxFormLength"
            >
            </textarea>
          </div>
          <div class="input-container">
            <div
              *ngFor="let blank of question.blanks; let blankIndex = index"
              class="blank-input-wrapper"
            >
              <!-- Fill in the blanks (written) -->
              <mat-form-field appearance="outline" *ngIf="!isSelect">
                <input
                  matInput
                  type="text"
                  [value]="question.blanks[blankIndex].text"
                  placeholder="Type blank here"
                  id="blankInput"
                  class="blank-input"
                  #blankInput
                  (keyup)="changeBlankText(questionIndex, blankIndex, blankInput.value)"
                  (keydown)="preventDisallowedKeys($event, true)"
                  (paste)="sanitizePaste($event, blankInput, maxBlankLength, true)"
                  maxlength="maxBlankLength"
                />
                <button
                  mat-icon-button
                  matSuffix
                  matTooltip="Delete this blank"
                  (click)="deleteBlank(questionIndex, blankIndex, textArea)"
                >
                  <mat-icon>delete</mat-icon>
                </button>
                <mat-hint
                  align="start"
                  *ngIf="blankIndex === question.blanks.length - 1"
                  >Note: You can enter multiple correct options and separate
                  them with a forward slash (/)</mat-hint
                >
              </mat-form-field>

              <!-- Fill in the blanks (select) -->
              <mat-form-field appearance="outline" *ngIf="isSelect">
                <mat-label>Add options here</mat-label>
                <mat-select>
                  <mat-option
                    *ngFor="let selectOption of getSelectOptions(question.blanks[blankIndex].text); let selectOptionIndex = index"
                    [value]="selectOption"
                  >
                    <div style="display: flex; align-items: center; gap: 8px">
                      <input
                        matInput
                        type="text"
                        [value]="getSelectOptionInput(question.blanks[blankIndex].text, selectOptionIndex)"
                        placeholder="Type blank here"
                        id="blankSelectInput"
                        class="blank-input"
                        #blankSelectInput
                        (change)="changeBlankSelectText(selectOptionIndex, blankIndex, questionIndex, blankSelectInput.value)"
                        (click)="$event.stopPropagation()"
                        (keydown)="$event.stopPropagation()"
                        maxlength="maxBlankLength"
                        style="flex: 1"
                      />

                      <button
                        mat-icon-button
                        matTooltip="Remove this option"
                        (click)="deleteSelectOption(questionIndex, blankIndex, selectOptionIndex);"
                        tabindex="-1"
                      >
                        <mat-icon>delete</mat-icon>
                      </button>

                      <mat-checkbox
                        [checked]="isSelectCorrectOption(questionIndex, blankIndex, selectOptionIndex)"
                        (change)="setCorrectSelectOption(questionIndex, blankIndex, selectOptionIndex)"
                        tabindex="-1"
                        matTooltip="Correct option?"
                        (click)="$event.stopPropagation()"
                        (keydown)="$event.stopPropagation()"
                        style="display: flex; align-items: center"
                      ></mat-checkbox>
                    </div>
                  </mat-option>
                </mat-select>
                <button
                  mat-icon-button
                  matSuffix
                  matTooltip="Add a select option"
                  (click)="addSelectOption(questionIndex, blankIndex)"
                >
                  <mat-icon>add</mat-icon>
                </button>
                <button
                  mat-icon-button
                  matSuffix
                  matTooltip="Delete this blank"
                  (click)="deleteBlank(questionIndex, blankIndex, textArea)"
                >
                  <mat-icon>delete</mat-icon>
                </button>
              </mat-form-field>
            </div>
            <span
              style="
                display: flex;
                align-items: center;
                font-size: small;
                cursor: pointer;
              "
              class="add-blank-button"
              (click)="addBlankToQuestion(questionIndex, textArea)"
              ><mat-icon>add</mat-icon><b>Add blank</b></span
            >
          </div>
        </div>
      </mat-list>
      <span
        style="
          display: flex;
          align-items: center;
          font-size: small;
          cursor: pointer;
        "
        class="add-blank-button"
        (click)="addQuestion()"
        ><mat-icon>add</mat-icon><b>Add question</b></span
      >
    </div>
    <div class="toggle-container">
      <form [formGroup]="questionForm" class="form-field">
        <mat-slide-toggle
          id="randomQuestionOrder"
          name="randomQuestionOrder"
          #randomQuestionOrder
          formControlName="randomQuestionOrder"
          (change)="toggleRandomQuestionOrder(randomQuestionOrder.checked)"
          [checked]="temporarycurrentQuestionDisplay.randomQuestionOrder"
        >
          Random question order?
          <mat-icon
            style="font-size: 20px"
            #tooltip="matTooltip"
            matTooltip="When turned on, the question you create will appear in a random order when the student takes the exam. When turned off, they will appear in the order you create them."
            >info_outlined</mat-icon
          >
        </mat-slide-toggle>
      </form>

      <form [formGroup]="questionForm" class="form-field">
        <mat-slide-toggle
          id="partialMarking"
          name="partialMarking"
          #partialMarking
          (change)="togglePartialMarking(partialMarking.checked)"
          [checked]="temporarycurrentQuestionDisplay.partialMarking"
          >Partial Marking?
          <mat-icon
            style="font-size: 20px"
            #tooltip="matTooltip"
            matTooltip="When turned on, the student will be rewarded partial marks for a question for getting some of the blanks correct. When turned off, the student must get all blanks correct to be awarded the for a question."
            >info_outlined</mat-icon
          >
        </mat-slide-toggle>
      </form>

      <form [formGroup]="questionForm" class="form-field" *ngIf="!isSelect">
        <mat-slide-toggle
          id="caseSenitive"
          name="caseSenitive"
          #caseSensitive
          (change)="toggleCaseSensitive(caseSensitive.checked)"
          [checked]="temporarycurrentQuestionDisplay.caseSensitive"
          >Case-sensitive?
          <mat-icon
            style="font-size: 20px"
            #tooltip="matTooltip"
            matTooltip="When turned on, the student will have to use the correct case for each letter in order to get the blank correct. When turned off, the student can use any case and still get the marks."
            >info_outlined</mat-icon
          >
        </mat-slide-toggle>
      </form>
    </div>
  </div>
  <app-dialog-actions
    [matTooltip]="!temporarycurrentQuestionDisplay.fillBlanksQuestionList || temporarycurrentQuestionDisplay.fillBlanksQuestionList.length < 1 ? 'Please add at least one question before saving' : ''"
    matTooltipPosition="after"
    (cancelAction)="closeDialog()"
    (saveAction)="closeDialogSave()"
    [disabled]="!temporarycurrentQuestionDisplay.fillBlanksQuestionList || temporarycurrentQuestionDisplay.fillBlanksQuestionList.length < 1"
  ></app-dialog-actions>
</ng-container>
