<mat-card
  class="question-card mat-elevation-z4"
  *ngIf="question && question.type"
  [class.question-card-with-feedback]="markMode"
>
  <!-- Header Prompts: -->
  <mat-card-header>
    <mat-card-title>
      <b>{{question.name}}</b>
      <!-- <mat-divider></mat-divider> -->
    </mat-card-title>
    <mat-card-subtitle *ngIf="question.type.toLowerCase() !== 'read-outloud'"
      >{{question.writtenPrompt}}</mat-card-subtitle
    >
    <mat-card-subtitle *ngIf="question.type.toLowerCase() === 'read-outloud'"
      >{{readOutloudQuestionPrompt}}</mat-card-subtitle
    >
  </mat-card-header>

  <!-- Read aloud prompt: -->
  <div
    class="readoutloud-prompt-container"
    *ngIf="question.type.toLowerCase() === 'read-outloud'"
  >
    <p>{{question.writtenPrompt}}</p>
  </div>

  <!-- Media Prompts: -->
  <div class="media-prompt-container" *ngIf="question.prompt1?.fileString">
    <div
      *ngIf="question.prompt1?.fileString && question.prompt1?.type"
      class="prompt"
    >
      <img
        *ngIf="question.prompt1?.type === 'image'"
        mat-card-image
        [src]="question.prompt1?.fileString"
        alt="image prompt"
        class="prompt-item"
      />
      <audio
        *ngIf="question.prompt1?.type === 'audio'"
        controls
        class="prompt-item"
        #audioRef
      >
        <source [src]="question.prompt1?.fileString" type="audio/webm" />
      </audio>
    </div>

    <div
      *ngIf="question.prompt2?.fileString && question.prompt2?.type"
      class="prompt"
    >
      <img
        *ngIf="question.prompt2?.type === 'image'"
        mat-card-image
        [src]="question.prompt2?.fileString"
        alt="image prompt"
        class="prompt-item"
      />

      <audio
        *ngIf="question.prompt2?.type === 'audio'"
        controls
        class="prompt-item"
      >
        <source [src]="question.prompt2?.fileString" type="audio/webm" />
      </audio>
    </div>

    <div
      *ngIf="question.prompt3?.fileString && question.prompt3?.type"
      class="prompt"
    >
      <img
        *ngIf="question.prompt3?.type === 'image'"
        mat-card-image
        [src]="question.prompt3?.fileString"
        alt="image prompt"
        class="prompt-item"
      />

      <audio
        *ngIf="question.prompt3?.type === 'audio'"
        controls
        class="prompt-item"
      >
        <source [src]="question.prompt3?.fileString" type="audio/webm" />
      </audio>
    </div>
  </div>

  <!-- Question Components: -->
  <mat-card-content style="padding-top: 50px; width: 100%">
    <!-- written response -->
    <app-written-response-question
      *ngIf="question.type === 'written-response'"
      [question]="question"
      [disableForms]="currentUser?.userType?.toLowerCase() === 'teacher' || displayMode || markMode"
      [currentUserId]="studentId ?? currentUser?._id"
      (responseChange)="onResponseChange($event)"
    ></app-written-response-question>

    <!-- audio response -->
    <app-audio-response-question
      *ngIf="['audio-response', 'repeat-sentence', 'read-outloud'].includes(question.type ?? '')"
      [question]="question"
      [disableForms]="currentUser?.userType?.toLowerCase() === 'teacher' || displayMode || markMode"
      [currentUserId]="studentId ?? currentUser?._id"
      (responseChange)="onResponseChange($event)"
    ></app-audio-response-question>

    <!-- multi choice response -->
    <app-multi-choice-question
      *ngIf="['multiple-choice-single', 'multiple-choice-multi'].includes(question.type ?? '')"
      [question]="question"
      [disableForms]="currentUser?.userType?.toLowerCase() === 'teacher' || displayMode || markMode"
      [currentUserId]="studentId ?? currentUser?._id"
      [markMode]="markMode"
      [displayMode]="displayMode"
      (responseChange)="onResponseChange($event)"
    ></app-multi-choice-question>

    <!-- reorder sentence response -->
    <app-reorder-sentence-question
      *ngIf="'reorder-sentence' === question.type"
      [question]="question"
      [disableForms]="currentUser?.userType?.toLowerCase() === 'teacher' || displayMode || markMode"
      [currentUserId]="studentId ?? currentUser?._id"
      [markMode]="markMode"
      [displayMode]="displayMode"
      (responseChange)="onResponseChange($event)"
    ></app-reorder-sentence-question>

    <!-- reorder sentence response -->
    <app-match-option-question
      *ngIf="'match-options' === question.type"
      [question]="question"
      [disableForms]="currentUser?.userType?.toLowerCase() === 'teacher' || displayMode || markMode"
      [currentUserId]="studentId ?? currentUser?._id"
      [markMode]="markMode"
      [displayMode]="displayMode"
      (responseChange)="onResponseChange($event)"
    ></app-match-option-question>

    <!-- fill in the blanks (written response) -->
    <app-fill-blanks-written-question
      *ngIf="'fill-in-the-blanks' === question.type"
      [question]="question"
      [disableForms]="currentUser?.userType?.toLowerCase() === 'teacher' || displayMode || markMode"
      [currentUserId]="studentId ?? currentUser?._id"
      [currentUserType]="currentUser?.userType"
      [markMode]="markMode"
      [displayMode]="displayMode"
      (responseChange)="onResponseChange($event)"
    ></app-fill-blanks-written-question>
  </mat-card-content>
</mat-card>
