.question-card {
    padding: 15px; 
    height: 75vh;
    overflow-y:scroll;
}

.media-prompt-container {
    display: flex;
    gap: 16px;
    padding:20px;
  }
  
  .prompt {
    flex: 1; 
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .prompt-item {
    max-width: 20vw;
    max-height: 20vw;
    padding:5px;
    object-fit: contain;
  }
