.question-card {
    padding: 15px; 
    max-height: 70vh;
    overflow-y:scroll;
    margin-bottom:25px;
}

.question-card-with-feedback {
  max-height: 40vh !important;
}

.media-prompt-container {
    display: flex;
    gap: 16px;
    padding:20px;
  }

.readoutloud-prompt-container {
    display: flex;
    gap: 16px;
    padding:20px;
    border:solid 1px;
  }
  
  .prompt {
    flex: 1; 
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .prompt-item {
    max-width: 20vw;
    max-height: 20vw;
    padding:5px;
    object-fit: contain;
  }
