<mat-card class="question-card mat-elevation-z4">
  <!-- Header Promots: -->
  <mat-card-header>
    <mat-card-title>
      <b>{{question?.name}}</b>
      <!-- <mat-divider></mat-divider> -->
    </mat-card-title>
    <mat-card-subtitle>{{question?.writtenPrompt}}</mat-card-subtitle>
  </mat-card-header>

  <!-- Media Promots: -->
  <img
    mat-card-image
    src="https://material.angular.io/assets/img/examples/shiba2.jpg"
    alt="image prompt"
    class="url-prompt-1"
  />

  <!-- Question Components: -->
  <mat-card-content
    style="padding-top: 50px; width: 100%; max-height: 70vh; overflow-y: auto"
  >
    <!-- written response -->
    <app-written-response-question
      *ngIf="question?.type==='written-response'"
      [question]="question"
      [disableForms]="currentUser?.userType?.toLowerCase() === 'teacher' || displayMode || markMode"
      [currentUser]="student ? student : currentUser?.email"
      (responseChange)="onResponseChange($event)"
    ></app-written-response-question>

    <!-- audio response -->
    <app-audio-response-question
      *ngIf="question?.type==='audio-response'"
      [question]="question"
      [disableForms]="currentUser?.userType?.toLowerCase() === 'teacher' || displayMode || markMode"
      [currentUser]="student ? student : currentUser?.email"
      (responseChange)="onResponseChange($event)"
    ></app-audio-response-question>
  </mat-card-content>
</mat-card>
