<app-header-card
  [currentSchool]="currentSchool$ | async"
  [currentUser]="currentUser$ | async"
  [pageName]="'admin'"
></app-header-card>
<mat-progress-bar
  [style]="{ visibility: adminPageLoading ? 'visible' : 'hidden' }"
  mode="query"
></mat-progress-bar>
<div class="page-content">
  <app-admin-view
    [primaryButtonBackgroundColor]="primaryButtonBackgroundColor"
    [primaryButtonTextColor]="primaryButtonTextColor"
    [selectedBackgroundImage]="selectedBackgroundImage"
    [backgroundImages]="backgroundImages"
    [adminPageLoading]="adminPageLoading"
    [currentSchool]="currentSchool$ | async"
    [lessons]="lessons$ | async"
    (saveSchoolDetails)="saveSchoolDetails($event)"
    (updateTempStyles)="updateTempStyles($event)"
    (saveBackground)="saveBackground($event)"
  ></app-admin-view>
</div>
