<div class="mic-button-container">
  <div style="margin-bottom: 10px"></div>
  <span *ngIf="!isRecording && !blobUrl"
    >Note: After pressing the microphone button below, you'll have
    {{question?.length ?? 10}} seconds to speak.</span
  >
  <span *ngIf="isRecording">Say your answer now...</span>
  <span *ngIf="!isRecording && blobUrl && !disableForms"
    >Listen to your answer. If you're unhappy with your response, click the
    reset button to erase your answer and try again.</span
  >
  <span *ngIf="disableForms">Response:</span>
  <button
    mat-icon-button
    [matTooltip]="!isRecording && !blobUrl ? 'Start audio recording' : 'Stop audio recording'"
    matTooltipPosition="after"
    (click)="!isRecording && !blobUrl ? startRecording() : stopRecording()"
    *ngIf="((!isRecording && !blobUrl) || isRecording) && !disableForms"
    class="button"
  >
    <mat-icon *ngIf="!isRecording && !blobUrl" class="large-mic-icon"
      >mic</mat-icon
    >
    <mat-icon *ngIf="isRecording" class="large-mic-icon">mic_off</mat-icon>
  </button>

  <button
    mat-icon-button
    matTooltip="Reset recording"
    matTooltipPosition="after"
    (click)="clearRecordedData()"
    *ngIf="!isRecording && blobUrl && !disableForms"
    class="button"
  >
    <mat-icon class="large-mic-icon">restart_alt</mat-icon>
  </button>

  <mat-progress-bar
    #progressBar
    *ngIf="isRecording"
    mode="determinate"
    [value]="getRecordingProgressBarValue()"
  >
  </mat-progress-bar>

  <div *ngIf="isRecording && !blobUrl">{{recordedTime}}</div>
  <div class="audio-player-container">
    <audio *ngIf="!isRecording && blobUrl" controls>
      <source [src]="blobUrl" type="audio/webm" />
    </audio>

    <span *ngIf="disableForms && !blobUrl && !isRecording"
      >No response given</span
    >
  </div>
</div>

<!-- <button
    *ngIf="!isRecording && blobUrl"
    (click)="download()"
  >
    Download Recording
  </button> -->
