.subQuestionList {
    margin-left:15px;
    margin-top:0px;
    padding-top:0px;
    margin-bottom:0px;
    padding-bottom:0px;
  }

.mat-grid-tile.expanded {
    width: 100%;
}

.border-right {
    border-right: 2px solid #ccc;
  }

.current-question {
    color: #6200EE;
    font-weight: bolder;
}

.mat-grid-tile {
  transition: width 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

/* .ng-star-inserted {

}

::ng-deep app-show-exam-dialog {
  color: green !important;
  height:2000px !important;
}

::ng-deep app-show-exam-dialog .ng-star-inserted {
  color: green !important;
}

::ng-deep .mat-dialog-content {
  height: 5000px !important;
}

::ng-deep .mat-grid-list {
  height: 5000px !important;
} */
