<mat-toolbar role="toolbar" class="dialog-title-container">
  <h2 mat-dialog-title>
    <button mat-icon-button (click)="closeDialog(null)">
      <mat-icon>close</mat-icon></button
    >{{data.title}}
  </h2>
</mat-toolbar>

<div mat-dialog-content>
  <mat-grid-list
    cols="4"
    [rowHeight]="questionList.length>0 ? '425px' : '100px'"
  >
    <mat-grid-tile
      [class.expanded]="examStarted"
      [colspan]="examStarted ? 1 : 0"
      rowspan="2"
      style="overflow-y: auto"
      [class]="examStarted ? 'border-right' : ''"
    >
      <div style="display: flex; flex-direction: column">
        <div class="tree-container">
          <mat-list role="list" *ngFor="let question of questionList">
            <mat-list-item role="listitem">
              <div style="display: flex; align-items: center">
                <span
                  [class]="question === currentQuestionDisplay ? 'current-question' : ''"
                  (click)="selectQuestion(question)"
                  style="cursor: pointer"
                  >{{question.name}}</span
                >
                <span *ngIf="getStudentMark(question)" style="opacity: 0.6">
                  &nbsp; - {{getStudentMark(question)}}</span
                >
              </div>
            </mat-list-item>
            <div>
              <mat-list-item
                class="subQuestionList"
                *ngFor="let subQuestion of question.subQuestions"
                [class]="subQuestion === currentQuestionDisplay ? 'current-question' : ''"
              >
                <span
                  (click)="selectQuestion(subQuestion)"
                  style="cursor: pointer"
                  >&#x2022; {{subQuestion.name}}</span
                >
                <span *ngIf="getStudentMark(subQuestion)" style="opacity: 0.6">
                  &nbsp; - {{getStudentMark(subQuestion)}}</span
                >
              </mat-list-item>
            </div>
          </mat-list>
          <mat-divider></mat-divider>
          <div
            style="margin-top: 10px"
            *ngIf="(questionIndex() === 'last' || parentQuestionIndex() === 'last') && data.currentUser?.userType?.toLowerCase() === 'teacher' && !data.displayMode && data.markMode && currentQuestionDisplay?.type?.toLowerCase() !== 'section'"
          >
            <span><b>Total Score:</b></span>
            <form [formGroup]="examScoreForm">
              <mat-form-field appearance="fill">
                <mat-label>Score</mat-label>
                <input
                  matInput
                  formControlName="examScore"
                  #examScore
                  id="examScore"
                />
              </mat-form-field>
              <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Out of</mat-label>
                <input
                  matInput
                  formControlName="totalExamScore"
                  #totalExamScore
                  id="totalExamScore"
                />
              </mat-form-field>
            </form>
          </div>
        </div>
      </div>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="!examStarted ? 4 : 0" rowspan="2">
      <div class="tree-button-container">
        <div>
          <span>{{data.exam?.instructions}}</span>
        </div>
        <div
          style="
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 100px;
          "
        >
          <button
            mat-raised-button
            type="button"
            class="button add-new-question-button"
            (click)="startExam()"
          >
            <mat-icon>play_circle_filled</mat-icon>
            <span
              [class]="questionList.length>0 && currentQuestionDisplay ? 'new-question-text' : ''"
              >Start Exam</span
            >
          </button>
        </div>
      </div>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="!examStarted ? 0 : 3" rowspan="2">
      <app-questions
        [question]="currentQuestionDisplay"
        [displayMode]="data.displayMode"
        [student]="data.student"
        [currentUser]="data.currentUser"
        [markMode]="data.markMode"
        (response)="response($event)"
        (feedback)="feedback($event)"
      ></app-questions>
    </mat-grid-tile>
  </mat-grid-list>
</div>
<div mat-dialog-actions align="end" *ngIf="examStarted">
  <button
    mat-button
    *ngIf="currentQuestionDisplay !== questionList[0] && (subQuestionIndex() !== 'first' || subQuestionIndex() === '')"
    (click)="previousQuestion()"
  >
    <mat-icon>navigate_before</mat-icon>Previous
  </button>
  <button
    mat-button
    cdkFocusInitial
    (click)="nextQuestion()"
    *ngIf="
        currentQuestionDisplay?.type?.toLowerCase() !== 'section' && 
        (subQuestionIndex() !== 'last' || subQuestionIndex() === '') &&
        questionIndex() !== 'last' &&
        parentQuestionIndex() !== 'last'
    "
  >
    Next <mat-icon>navigate_next</mat-icon>
  </button>
  <button
    mat-button
    cdkFocusInitial
    (click)="completeSection()"
    *ngIf="currentQuestionDisplay?.type?.toLowerCase() !== 'section' && subQuestionIndex() === 'last'"
  >
    Complete section
  </button>
  <button
    mat-button
    cdkFocusInitial
    (click)="completeExam()"
    *ngIf="(questionIndex() === 'last' || parentQuestionIndex() === 'last') && data.currentUser?.userType?.toLowerCase() === 'student' && !data.displayMode && !data.markMode && currentQuestionDisplay?.type?.toLowerCase() !== 'section'"
  >
    Submit exam <mat-icon>done</mat-icon>
  </button>
  <button
    mat-button
    cdkFocusInitial
    (click)="submitFeedback()"
    *ngIf="(questionIndex() === 'last' || parentQuestionIndex() === 'last') && data.currentUser?.userType?.toLowerCase() === 'teacher' && !data.displayMode && data.markMode && currentQuestionDisplay?.type?.toLowerCase() !== 'section'"
  >
    Submit feedback <mat-icon>done</mat-icon>
  </button>
  <button
    mat-button
    cdkFocusInitial
    (click)="startSection()"
    *ngIf="currentQuestionDisplay?.type?.toLowerCase() === 'section'"
  >
    <span
      *ngIf="data.currentUser?.userType?.toLowerCase() === 'student' && !data.displayMode && !data.markMode"
      >Start section</span
    >
    <span
      *ngIf="data.currentUser?.userType?.toLowerCase() !== 'student' || data.displayMode || data.markMode"
      >View section</span
    >
  </button>
</div>
