.card {
    margin:25px;
    height:fit-content;
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

.title-row {
  display: flex;
  align-items: center;
}

.mat-card-subtitle {
  margin-left:-15px;
}

.mat-card-content {
    margin-top:15px;
    margin-left: 30px;
}

.button {
    margin:2px;
    background-color: #6200EE;
    color: white;
    size:20vw;
}

.mat-card-actions {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-bottom:-10px;
    margin-bottom:-10px;
    margin-top: -20px;
}

  .image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top:50px;
    margin-bottom:25px;
  }
  
  .profile-picture-container {
    width: 17vw;
    height: auto;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }

  .photo-column h2 {
    margin-top: 15px;
    padding-bottom:-15px;
    margin-bottom:-15px;
    font-size:clamp(20px,3vw,30px);
  }

  .data-column {
    height: fit-content;
    margin-left: -10vw;
  }

  .table-column {
    height: fit-content;
  }

  table,
  td {
    padding-right: 5vw;
    vertical-align: top;
  }
