<mat-card
  class="card"
  *ngIf="userType?.toLowerCase() === user.userType?.toLowerCase()"
>
  <div class="row">
    <div class="col-md-2">
      <div class="profile-picture-container">
        <img
          alt="user photo"
          [src]="profilePictureSrc"
          class="profile-picture d-flex img-fluid"
        />
      </div>
    </div>
    <div class="col-md-9 offset-1">
      <mat-card-header>
        <mat-card-title>
          <b>{{user.name}}</b>
          <i
            *ngIf="(authStoreService.currentUser$ | async)?._id === user._id"
            style="opacity: 50%"
          >
            (You)</i
          >
        </mat-card-title>
      </mat-card-header>
      <mat-divider></mat-divider>
      <mat-card-content>
        <mat-card-subtitle
          *ngIf="user.statement && user?.userType?.toLowerCase() === 'teacher'"
          ><i>"{{user.statement}}"</i></mat-card-subtitle
        >
        <mat-card-subtitle
          *ngIf="!user.statement && user?.userType?.toLowerCase() === 'teacher'"
          ><i
            >"Go to the home page to book a lesson with {{user.name.split('
            ')[0]}} today!"</i
          ></mat-card-subtitle
        >
        <div class="row">
          <div class="table-column">
            <table>
              <tbody>
                <tr *ngIf="user.nationality">
                  <td class="title-row">
                    <mat-icon>language</mat-icon>
                    <b> &nbsp;&nbsp;Country:</b>
                  </td>
                  <td>{{user.nationality}}</td>
                </tr>
                <tr>
                  <td class="title-row">
                    <mat-icon> email</mat-icon>
                    <b> &nbsp;&nbsp;Email:</b>
                  </td>
                  <td>{{user.email}}</td>
                </tr>
                <tr *ngIf="user.phone">
                  <td class="title-row">
                    <mat-icon> phone</mat-icon>
                    <b> &nbsp;&nbsp;Phone:</b>
                  </td>
                  <td>{{user.phone}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </mat-card-content>
      <mat-card-actions align="end">
        <button
          mat-mini-fab
          style="background-color: orange"
          class="user-action-button"
          (click)="openEditUserDialogClick(user)"
          matTooltip="Edit"
          *ngIf="
            (authStoreService.currentUser$ | async)?.userType?.toLowerCase() === 'teacher' ||
            (authStoreService.currentUser$ | async)?.userType?.toLowerCase() === 'school' ||
            (authStoreService.currentUser$ | async)?._id === user._id
          "
        >
          <mat-icon>edit</mat-icon>
        </button>
        <button
          mat-mini-fab
          class="user-action-button-messages"
          matTooltip="Message"
          *ngIf="(authStoreService.currentUser$ | async)?._id !== user._id"
        >
          <mat-icon>message</mat-icon>
        </button>
        <button
          mat-mini-fab
          style="background-color: red"
          class="user-action-button"
          matTooltip="Delete"
          *ngIf="(authStoreService.currentUser$ | async)?.userType?.toLowerCase() === 'teacher' || (authStoreService.currentUser$ | async)?.userType?.toLowerCase() === 'school'"
          (click)="openConfirmDeleteDialogClick(user)"
        >
          <mat-icon>delete</mat-icon>
        </button>
      </mat-card-actions>
    </div>
  </div>
</mat-card>
