$primaryColor: var(--primaryColor);
$secondaryColor: var(--secondaryColor);

.main-dialog-toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0 15px 15px;
}
  
.close-button {
    order: 1;  
    font-size: 75% !important;
    margin-left: -15px !important;
    margin-top: -15px !important;
    cursor: pointer;
}

.back-button {
    order: -1;
    margin-right: 8px;
}

.dialog-title {
    flex: 1;
}

.main-dialog-toolbar {
  background-color: $primaryColor;
  color: $secondaryColor;
}
