<!-- <h5>Answer:</h5> -->
<div [formGroup]="questionForm" *ngIf="!loading">
  <mat-form-field
    class="form-field"
    appearance="outline"
    style="width: 100%; max-width: 100%"
  >
    <mat-label *ngIf="!disableForms">Response</mat-label>
    <div
      style="
        display: flex;
        flex-direction: column;
        max-height: 100%;
        overflow-y: auto;
      "
    >
      <textarea
        matInput
        id="writtenResponse"
        #writtenResponse
        formControlName="writtenResponse"
        type="text"
        [placeholder]="!disableForms ? 'Write your answer here...' : 'No response given'"
        required
        (keyup)="wordCounter(writtenResponse.value)"
        style="flex: 1; max-height: 200px; resize: vertical; font-size: 16px"
        maxlength="question?.length ? ''"
        [rows]="5"
      ></textarea>
    </div>
    <span *ngIf="wordCount && question?.length"
      >Words: {{wordCount}}/{{question?.length}}</span
    >
    <mat-error>
      <app-error-message
        [control]="questionForm.controls['writtenResponse'].errors"
      ></app-error-message>
    </mat-error>
  </mat-form-field>
</div>

<!-- TEST AI FEEDBACK: -->
<!-- <button (click) ="testClick(writtenResponse.value)">TEST</button>
</div>

<div class="feedback-section">
  <div class="feedback-content" [innerHTML]="test.feedback"></div>

  <div class="score-section">
    <div class="score-item">
      <strong>Spelling:</strong> <span [innerHTML]="test.score.spelling"></span>
    </div>
    <div class="score-item">
      <strong>Grammar:</strong> <span [innerHTML]="test.score.grammar"></span>
    </div>
    <div class="score-item">
      <strong>Punctuation:</strong> <span [innerHTML]="test.score.punctuation"></span>
    </div>
    <div class="score-item">
      <strong>Vocabulary:</strong> <span [innerHTML]="test.score.vocabulary"></span>
    </div>
    <div class="score-item">
      <strong>Overall:</strong> <span [innerHTML]="test.score.overall"></span>
    </div>
  </div>
</div> -->
