<app-header-card
  (headerButtonAction)="createExam()"
  (filterResults)="filterResults($event)"
  [currentSchool]="currentSchool$ | async"
  [currentUser]="currentUser$ | async"
  [pageName]="'exams'"
></app-header-card>

<mat-progress-bar
  [style]="{ visibility: examPageLoading ? 'visible' : 'hidden' }"
  mode="query"
></mat-progress-bar>

<div class="page-content">
  <mat-tab-group
    class="home-tab-group"
    mat-stretch-tabs
    [(selectedIndex)]="selectedTabIndex"
  >
    <mat-tab
      *ngFor="let examType of ['My Exams', 'All Exams']; let i = index"
      [label]="examType"
    >
      <div
        *ngIf="!examPageLoading && selectedTabIndex === i"
        class="table-container"
      >
        <app-exam-table
          [examData]="getUserExams(examType) | async"
          [selectedTabIndex]="i"
          [questionData]="questions$ | async"
          [currentUser]="currentUser$ | async"
          [users]="users$ | async"
          (openEditExamDialog)="openEditExamDialog($event)"
          (openConfirmDeleteDialog)="openConfirmDeleteDialog($event)"
          (registerForExam)="registerForExam($event)"
          (startExam)="startExam($event)"
          (reloadExams)="reloadExams()"
        ></app-exam-table>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
