<ng-container>
  <app-dialog-header
    [dialogTitle]="data.title"
    (closeAction)="closeDialog(false)"
  ></app-dialog-header>
  <mat-dialog-content>
    <app-create-lesson-form
      [existingLesson]="data.lesson"
      [isEditLesson]="true"
      lessonDateMode="individual"
      [lessonTypes]="data.lessonTypes"
      [currentUser]="data.currentUser"
      [teachers]="data.teachers"
    ></app-create-lesson-form>
  </mat-dialog-content>
  <app-dialog-actions
    (saveAction)="closeDialog(true)"
    (cancelAction)="closeDialog(false)"
    [disabled]="createLessonFormComponent?.lessonForm?.invalid"
  ></app-dialog-actions>
</ng-container>
