<app-header-card
  (filterResults)="filterResults($event)"
  (headerButtonAction)="addStudent()"
  [currentSchool]="currentSchool$ | async"
  [currentUser]="currentUser$ | async"
  [pageName]="'teachers'"
></app-header-card>
<mat-progress-bar
  [style]="{ visibility: teacherPageLoading ? 'visible' : 'hidden' }"
  mode="query"
></mat-progress-bar>
<div class="page-content">
  <div *ngFor="let user of (users$ | async)">
    <app-user-card
      [user]="user"
      [pageStyles]="{primaryButtonBackgroundColor, 'primaryButtonTextColor':primaryButtonTextColor }"
      [userType]="userType"
      (openConfirmDeleteDialog)="openConfirmDeleteDialog($event)"
    ></app-user-card>
  </div>
</div>
