<app-header-card
  (headerButtonAction)="createLesson()"
  (filterResults)="filterResults($event)"
  [currentSchool]="currentSchool$ | async"
  [currentUser]="currentUser$ | async"
  [pageName]="'lessons'"
></app-header-card>
<mat-progress-bar
  [style]="{ visibility: lessonPageLoading ? 'visible' : 'hidden' }"
  mode="query"
></mat-progress-bar>
<div class="page-content">
  <mat-tab-group
    class="home-tab-group"
    mat-stretch-tabs
    [ngStyle]="{
    '--primaryButtonBackgroundColor': primaryButtonBackgroundColor
  }"
  >
    <mat-tab
      *ngFor="let lessonStatus of ['Past Lessons','Upcoming Lessons']"
      [label]="lessonStatus"
    >
      <div *ngFor="let lesson of (filteredLessons$ | async)">
        <ng-container
          *ngIf="getLessonStatus(lessonStatus, lesson) && !lessonPageLoading"
        >
          <app-lesson-card
            *ngIf="lesson.name"
            [lessonTypeFilter]="undefined"
            [lesson]="lesson"
            [users]="users$ | async"
            [currentUser]="currentUser$ | async"
            [pageName]="pageName"
            [pastLesson]="getLessonStatus('Past Lessons', lesson)"
            [pageStyles]="{primaryButtonBackgroundColor, 'primaryButtonTextColor':primaryButtonTextColor }"
            (deleteLesson)="deleteLesson($event)"
            (refreshLessons)="loadPageData()"
          ></app-lesson-card>
        </ng-container>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
