<app-header-card
  (headerButtonAction)="createLesson()"
  (filterResults)="filterResults($event)"
></app-header-card>
<mat-progress-bar
  [style]="{ visibility: lessonPageLoading ? 'visible' : 'hidden' }"
  mode="query"
></mat-progress-bar>
<div class="page-content">
  <mat-tab-group class="home-tab-group" mat-stretch-tabs>
    <mat-tab
      *ngFor="let lessonStatus of ['Past Lessons','Upcoming Lessons']"
      [label]="lessonStatus"
    >
      <div *ngFor="let lesson of (filteredLessons$ | async)">
        <ng-container
          *ngIf="getLessonStatus(lessonStatus, lesson) && !lessonPageLoading"
        >
          <app-lesson-card
            *ngIf="lesson.name"
            [lessonTypeFilter]="undefined"
            [lesson]="lesson"
            [users]="users$ | async"
            [pageName]="pageName"
            [pastLesson]="getLessonStatus('Past Lessons', lesson)"
            (deleteLesson)="deleteLesson($event)"
            (refreshLessons)="loadPageData()"
          ></app-lesson-card>
        </ng-container>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
