$primaryColor: var(--primaryColor);
$secondaryColor: var(--secondaryColor);

/**
 * ==============================
 *  Breakpoints
 * ==============================
*/

$small: 576px;
$medium: 768px;
$large: 992px;
$extraLarge: 1200px;


/**
 * ==============================
 *  Default Styles
 * ==============================
*/

$defaultButtonColor: #383838;
$defaultTextnColor: #ffffff;


/**
 * ==============================
 *  Mat Tabs
 * ==============================
*/
  
  ::ng-deep .mat-ink-bar {
    background-color: var(--primaryColor) !important;
  }
  
  ::ng-deep .mat-tab-label-active {
    color: var(--primaryColor) !important;
  }

/**
 * ==============================
 *  Mat Step
 * ==============================
*/
  
::ng-deep .mat-step-header .mat-step-icon, .mat-stepper-next {
  background-color: var(--primaryColor);
  color: var(--secondaryColor);
}

/**
 * ==============================
 *  Mat Slide Toggle
 * ==============================
*/

  :host {
    --toggleSwitch: $defaultButtonColor;
    --toggleThumb: $defaultButtonColor;
  }
  
  ::ng-deep .mat-slide-toggle-bar {
    background-color: var(--primaryColor) !important;
  }

  ::ng-deep .mat-slide-toggle-thumb {
    background-color: var(--secondaryColor) !important;
  }

  
/**
 * ==============================
 *  Forms
 * ==============================
*/

div[mat-dialog-content] mat-icon {
    color: var(--primaryColor) !important;
  }