$primaryColor: var(--primaryColor);
$secondaryColor: var(--secondaryColor);

/**
 * ==============================
 *  Breakpoints
 * ==============================
*/

$small: 576px;
$medium: 768px;
$large: 992px;
$extraLarge: 1200px;


/**
 * ==============================
 *  Default Styles
 * ==============================
*/

$defaultButtonColor: #383838;
$defaultTextnColor: #ffffff;

::ng-deep body {
  font-weight: 400;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size:16px;
  letter-spacing: 0.5px;
}

/**
 * ==============================
 *  Mat Tabs
 * ==============================
*/
  
  ::ng-deep .mat-ink-bar {
    background-color: var(--primaryColor) !important;
  }
  
  ::ng-deep .mat-tab-label-active {
    color: var(--primaryColor) !important;
  }

/**
 * ==============================
 *  Mat Step
 * ==============================
*/
  
::ng-deep .mat-step-header .mat-step-icon, .mat-stepper-next {
  background-color: var(--primaryColor);
  color: var(--secondaryColor);
}

/**
 * ==============================
 *  Mat Slide Toggle
 * ==============================
*/

  :host {
    --toggleSwitch: $defaultButtonColor;
    --toggleThumb: $defaultButtonColor;
  }
  
  ::ng-deep .mat-slide-toggle-bar {
    background-color: var(--primaryColor) !important;
  }

  ::ng-deep .mat-slide-toggle-thumb {
    background-color: var(--secondaryColor) !important;
  }

  
/**
 * ==============================
 *  Forms
 * ==============================
*/

div[mat-dialog-content] mat-icon:not(div[mat-dialog-content] button mat-icon) {
  color: var(--primaryColor) !important;
}
