$primaryColor: var(--primaryColor);

.dialog-modal {
  padding: 0px;
  width: clamp(300px, 25vw, 500px);
  overflow: hidden;
}

.dialog-toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mat-toolbar  {
    height: 0px !important;
    background-color: transparent;
}

.close-button {
    order: 1;  
    font-size: 90% !important;
    margin-left: 95% !important;
    margin-top: 30px !important;
    cursor: pointer;
}

.primary-header {
    margin-left: 15px;
    font-weight: bold;
}

  .notifications-list-item:hover {
    background: whitesmoke !important;
  }
  
  .unseen-icon {
    font-size: 25px;
    color: $primaryColor;
    margin-left: 10px;
  }

  .notification-img {
    transform: scale(1.5);
    object-fit: cover;
    border-radius: 50%;
  }