<ng-container *ngIf="data">
  <app-dialog-header
    [dialogTitle]="'Choose students to enrol in ' + data.pageName"
    (closeAction)="closeDialog()"
  ></app-dialog-header>
  <mat-dialog-content class="mat-typography">
    <div *ngIf="data.levelList">
      Showing students of level: {{data.levelList}}
    </div>

    <mat-list style="margin-top: 10px">
      <ng-container
        *ngFor="let student of data.studentsToDisplay ?? this.data.allStudents; let index = index"
      >
        <mat-list-item
          style="
            display: flex;
            justify-content: space-between;
            width: 100%;
            margin-bottom: 10px;
          "
        >
          <mat-checkbox
            #checkboxRef
            [id]="'checkbox' + index"
            [checked]="data.studentsPreviouslyEnrolledIds.includes(student._id)"
            (change)="enrolStudent($event.checked, index, student)"
            [disabled]="isCheckboxDisabled(student)"
            >{{student.name}} ({{ student.email }})</mat-checkbox
          >
        </mat-list-item>
      </ng-container>
    </mat-list>
  </mat-dialog-content>

  <app-dialog-actions
    (saveAction)="closeDialogAndSave()"
    (cancelAction)="closeDialog()"
  ></app-dialog-actions>
</ng-container>
