.multi-choice-radio-group {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
    align-items: flex-start;
  }
  
  .multi-choice-radio-button {
    margin: 15px;
  }

  .multiple-choice-page-container {
    margin-left:30px;
  }

  .correct-multichoice {
    color: green;
  }

  .incorrect-multichoice {
    color: red;
  }
  