.multi-choice-radio-group {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
    align-items: flex-start;
  }
  
  .multi-choice-radio-button {
    margin: 15px;
  }

  .multiple-choice-page-container {
    margin-left:30px;
  }

  .correct-multichoice {
    color: green;
  }

  .incorrect-multichoice {
    color: red;
  }
  
  
::ng-deep .multi-choice-single-button {
  & .mat-checkbox-background, .mat-checkbox-frame {
    border-radius: 70% !important;
  }
}

.multiple-choice-textbox{
  width: 50%; 
  margin-bottom: 20px; 
  margin-right: 10px;
  height: 50px;
  padding:2px;
}

.add-option-button {
  margin-left:15px;
}

.toggle-container {
  margin-top:15px;
}
