<ng-container>
  <app-dialog-header
    [dialogTitle]="lesson ? 'Students enrolled in ' + lesson.name : 'Students enrolled'"
    (closeAction)="closeDialog()"
  ></app-dialog-header>
  <span *ngIf="studentNames.length === 0"
    >There are no students currrently enrolled in this class.</span
  >

  <mat-list style="margin-top: 10px">
    <ng-container *ngFor="let student of studentNames">
      <mat-list-item
        style="
          display: flex;
          justify-content: space-between;
          width: 100%;
          margin-bottom: 10px;
        "
      >
        <div>
          <div>{{ student.name }}</div>
          <span style="opacity: 0.6"><i>({{ student.email }})</i></span>
        </div>
        <div
          style="cursor: pointer"
          #tooltip="matTooltip"
          [matTooltip]="'Remove ' + student.name + ' from class'"
          (click)="removeStudent(student)"
          *ngIf="!data.pastLesson"
        >
          <b
            >Remove student
            <mat-icon style="font-size: larger">remove_circle</mat-icon></b
          >
        </div>
      </mat-list-item>
    </ng-container>
  </mat-list>

  <app-dialog-actions
    *ngIf="lesson && !data.pastLesson"
    saveButtonName="Manage enrollments"
    (saveAction)="addStudentsToLessonDialog(lesson)"
    (cancelAction)="closeDialog()"
  ></app-dialog-actions>
</ng-container>
