<div
  class="welcome-page"
  [style]="'background-image: url(../../../assets/' + selectedBackgroundImage?.name + ')'"
>
  <div class="container" *ngFor="let imageCard of imageCards; let i = index">
    <div
      class="logIn-planels"
      (mouseenter)="setHoveredElement(i)"
      (mouseleave)="setHoveredElement(null)"
      [ngClass]="{ 'hovered': i === hoveredElementIndex, 'not-hovered': i !== hoveredElementIndex && isAnyElementHovered }"
    >
      <a [routerLink]="imageCard.route">
        <img
          [src]="imageCard.source"
          [alt]="imageCard.title"
          class="logIn-img"
        />
      </a>
      <h2
        class="logIn-header"
        [ngStyle]="{
        '--primaryButtonBackgroundColor': primaryButtonBackgroundColor,
        '--primaryButtonTextColor': primaryButtonTextColor
      }"
      >
        {{ imageCard.title }}
      </h2>
    </div>
  </div>
</div>
