<mat-card class="card" *ngIf="lesson && filterLessonUsers(lesson)">
  <div class="row">
    <div class="col-md-2 text-center" *ngIf="showPhoto">
      <div class="profile-picture-container">
        <img
          alt="teacher photo"
          [src]="teacher?.profilePicture?.url ? teacher?.profilePicture?.url : profilePictureSrc"
          class="profile-picture img-fluid"
        />
      </div>
      <h2 class="primary-header mt-3" style="white-space: nowrap; width: 15vw">
        {{teacher?.name}}
      </h2>
    </div>
    <div [class]="showPhoto ? 'col-md-9 offset-1' : 'col-12'">
      <mat-card-header>
        <mat-card-title>
          <b>{{lesson.name}}</b>
        </mat-card-title>
        <mat-divider></mat-divider>
        <mat-card-subtitle>
          {{lesson.type.name}} Class<br />
          <b>({{getLevels()}})</b>
        </mat-card-subtitle>
      </mat-card-header>
      <mat-divider></mat-divider>
      <mat-card-content style="height: 20%; overflow-y: auto; width: 80%">
        <p>{{lesson.description}}</p>
      </mat-card-content>
      <mat-card-actions align="end">
        <div class="mat-card-actions">
          <h6>{{lesson.startTime | date:'EEEE, dd MMMM yyyy h:mm a'}}&nbsp;</h6>
          <h6 style="margin-right: 10px">({{lesson.startTime | date:'z' }})</h6>
          <button
            *ngIf="showJoinButton(lesson)"
            mat-mini-fab
            color="primary"
            class="join-button"
            [matTooltip]="lesson.studentsEnrolled.length >= lesson.maxStudents ? 'Sorry, this lesson is full' : 'Click here to reserve your seat in this class'"
            (click)="joinLessonClick()"
            [disabled]="lesson.studentsEnrolled.length >= lesson.maxStudents"
          >
            <mat-icon>person_add</mat-icon>
          </button>
          <button
            *ngIf="showLeaveButton(lesson) && !this.pastLesson && lesson.status !== 'started'"
            mat-mini-fab
            style="background-color: orange; margin-right: 10px"
            class="cancel-button"
            matTooltip="Click here to cancel this lesson"
            (click)="cancelLessonClick()"
          >
            <mat-icon>cancel</mat-icon>
          </button>
          <button
            *ngIf="(authStoreService.currentUser$ | async)?.email === lesson?.teacher && lesson.status !== 'started' && !this.pastLesson"
            [disabled]="!showStartButton(lesson)"
            mat-mini-fab
            style="margin-right: 10px"
            class="start-button"
            [class.start-button-active]="showStartButton(lesson)"
            [matTooltip]="showStartButton(lesson) ? 'Click here to start this lesson. Once you have started the lesson, students will be able to join 5 minutes before the start time.' : 'You can initiate this lesson 10 minutes before the start time/date. Students can join 5 minutes prior.'"
            (click)="startLessonClick(lesson)"
          >
            <mat-icon><i class="material-icons">start</i></mat-icon>
          </button>
          <button
            *ngIf="((authStoreService.currentUser$ | async)?.userType?.toLowerCase() === 'teacher' || lesson.studentsEnrolled?.includes(this.currentUser?.email ?? '')) && lesson.status === 'started' && !this.pastLesson"
            mat-mini-fab
            style="margin-right: 10px"
            class="enter-button"
            [class.enter-button-student]="(authStoreService.currentUser$ | async)?.userType?.toLowerCase() === 'student'"
            matTooltip="Enter classroom"
            (click)="enterLessonClick(lesson._id)"
          >
            <mat-icon><i class="material-icons">meeting_room</i></mat-icon>
          </button>
          <button
            *ngIf="pastLesson"
            mat-mini-fab
            style="margin-right: 10px"
            class="join-button"
            matTooltip="Watch recording"
          >
            <mat-icon><i class="material-icons">remove_red_eye</i></mat-icon>
          </button>
        </div>

        <button
          mat-icon-button
          [matMenuTriggerFor]="menu"
          style="position: absolute; top: 5px; right: 5px"
          *ngIf="
          pageName==='lessons' &&
          ((authStoreService.currentUser$ | async)?.email === teacher?.email || (authStoreService.currentUser$ | async)?.userType?.toLowerCase() === 'school')
        "
          matTooltip="Open lesson options"
        >
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item>
            <mat-icon>edit</mat-icon>
            <span>Edit</span>
          </button>
          <button mat-menu-item (click)="deleteLessonClick()">
            <mat-icon>delete</mat-icon>
            <span>Delete</span>
          </button>
          <button
            mat-menu-item
            *ngIf="this.pastLesson && this.currentUser?.userType?.toLowerCase() === 'teacher'"
          >
            <mat-icon>query_stats</mat-icon>
            <span>Lesson Stats</span>
          </button>
        </mat-menu>

        <mat-chip-list
          *ngIf="!pastLesson"
          style="position: absolute; bottom: -15px; right: -20px"
          aria-label="Fish selection"
          (click)="currentUser?.userType?.toLowerCase()==='teacher' || currentUser?.userType?.toLowerCase() ==='school' ? openStudentsEnrolledDialog(lesson) : ''"
          ><mat-chip
            [style]="currentUser?.userType?.toLowerCase()==='teacher' || currentUser?.userType?.toLowerCase() ==='school' ? 'cursor: pointer' : ''"
            [class.active-chip]="lesson.studentsEnrolled.length < lesson.maxStudents && !showLeaveButton(lesson)"
            [class.active-chip-joined]="lesson.studentsEnrolled.length < lesson.maxStudents && showLeaveButton(lesson) && lesson.status !== 'started'"
            [class.active-chip-started]="lesson.studentsEnrolled.length < lesson.maxStudents && showLeaveButton(lesson) && lesson.status === 'started'"
            >Seats: {{lesson.studentsEnrolled.length}} /
            {{lesson.maxStudents}}</mat-chip
          ></mat-chip-list
        >
      </mat-card-actions>
    </div>
  </div>
</mat-card>
