// @import '../../app.component.scss';
$primaryColor: var(--primaryColor);
$secondaryColor: var(--secondaryColor);

// --- Card:

.card {
  margin:25px;
  margin-bottom:45px;
  height:fit-content;
  border-radius: 5px;
  padding: 0 !important;
  border: solid 0.5px !important;
}

.lesson-card-content {
  margin-right: 15px;
  margin-left:3px;
}

//  --- Header:

  .mat-card-header {
    margin-top:10px;
    margin-left:-20px;
  }

  // --- Lesson details:

  .table-column {
    height: fit-content;
  }

  table,
  td {
    padding-right: 5vw;
    vertical-align: top;
  }

  .title-row {
    display: flex;
    align-items: center;
  }
  
  
  .mat-card-header {
  margin-left:-15px;
  }

  .mat-card-header {
  margin-left:-15px;
  }
  
// --- Image:


.profile-picture-container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile-picture {
  height: 100%;
  width: auto; 
  object-fit: cover;
  border-radius: 5px 0 0 5px;
}

// --- Action Chips:

.active-chip {
  background-color: var(--primaryColor);
  color: var(--secondaryColor);
  font-weight: bolder;
}

.active-chip-joined {
  background-color: orange;
  color: white;
  font-weight: bolder;
}

.active-chip-started {
  background-color: greenyellow;
  color: black;
  font-weight: bolder;
}

// --- Actions:

.user-action-button {
  margin:2px;
  size:20vw;
}

.user-action-button-messages {
  margin:2px;
  size:20vw;
}

.mat-card-actions {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom:10px;
}

// --- Action buttons:

.join-button, .enter-button, .start-button  {
  margin-right: 10px;
  background-color: var(--primaryColor);
  color: var(--secondaryColor);
}

.enter-button, .start-button-active {
  animation: pulseButtonSize 1.5s ease-in-out infinite;
}

.enter-button-student {
  background-color: greenyellow;
  color:black;
  animation: pulseButtonSize 1.5s ease-in-out infinite;
}

// --- Animation:

@keyframes pulseButtonSize {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}