// @import '../../app.component.scss';
$primaryColor: var(--primaryColor);
$secondaryColor: var(--secondaryColor);

// --- Card:

mat-card-content {
    margin-top:15px;
    margin-left: 30px;
}

.card {
  margin:25px;
  height:fit-content;
  border-radius: 5px;
}

.mat-card-content {
  margin-top:15px;
  margin-left: 30px;
}

// --- Header:

.title-row {
  display: flex;
  align-items: center;
  }
  
  .mat-card-header {
  margin-left:-15px;
  }
  
// --- Image:

.image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top:50px;
  margin-bottom:25px;
}

.profile-picture-container {
  width: 15vw;
  height: auto;
  border-radius: 5%;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.profile-picture {
  width:100%
}

// --- Action Chips:

.active-chip {
  background-color: var(--primaryColor);
  color: var(--secondaryColor);
  font-weight: bolder;
}

.active-chip-joined {
  background-color: orange;
  color: white;
  font-weight: bolder;
}

.active-chip-started {
  background-color: greenyellow;
  color: black;
  font-weight: bolder;
}

// --- Actions:

.user-action-button {
  margin:2px;
  size:20vw;

}

.user-action-button-messages {
  margin:2px;
  size:20vw;
}

.mat-card-actions {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom:10px;
  // margin-top: 1px;
}

// --- Action buttons:

.join-button, .enter-button, .start-button  {
  margin-right: 10px;
  background-color: var(--primaryColor);
  color: var(--secondaryColor);
}

.enter-button, .start-button-active {
  animation: pulseButtonSize 1.5s ease-in-out infinite;
}

.enter-button-student {
  background-color: greenyellow;
  color:black;
  animation: pulseButtonSize 1.5s ease-in-out infinite;
}

// --- Animation:

@keyframes pulseButtonSize {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}