<app-header-card
  (headerButtonAction)="createHomework()"
  (filterResults)="filterResults($event)"
  [currentSchool]="currentSchool$ | async"
  [currentUser]="currentUser$ | async"
  [pageName]="'homework'"
></app-header-card>

<mat-progress-bar
  [style]="{ visibility: homeworkPageLoading ? 'visible' : 'hidden' }"
  mode="query"
></mat-progress-bar>

<div class="page-content">
  <mat-tab-group class="home-tab-group" mat-stretch-tabs>
    <mat-tab
      *ngIf="(currentUser$ | async)?.userType?.toLowerCase() !== 'student'"
      label="Filter by Homework"
    >
      <div *ngIf="!homeworkPageLoading" class="table-container">
        <app-homework-table
          [homeworkData]="homework$ | async"
          [users]="users$ | async"
          [homeworkPageLoading]="homeworkPageLoading"
          (openConfirmDeleteDialog)="openConfirmDeleteDialog($event)"
        ></app-homework-table>
      </div>
    </mat-tab>

    <mat-tab
      *ngIf="(currentUser$ | async)?.userType?.toLowerCase() !== 'student'"
    >
      <ng-template mat-tab-label>
        <div>
          Filter by Student:
          <mat-select (selectionChange)="changeStudent($event.value)">
            <mat-option value="null">Select a student...</mat-option>
            <mat-option
              *ngFor="let student of (students$ | async)"
              [value]="student"
            >
              <span
                ><img
                  [src]="student.profilePicture?.url"
                  alt="student image"
                  class="thumbnail-image"
                />{{student.name}} ({{student.email}})</span
              >
            </mat-option>
          </mat-select>
        </div>
      </ng-template>
      <app-homework-card
        [selectedStudent]="selectedStudent"
        [homework]="homework$ | async"
        [users]="users$ | async"
        [currentUser]="currentUser$ | async"
        (saveFeedback)="saveFeedback($event)"
      ></app-homework-card>
    </mat-tab>

    <mat-tab
      *ngIf="(currentUser$ | async)?.userType?.toLowerCase() === 'student'"
      label="Unfinished homework"
    >
      <div *ngIf="!homeworkPageLoading" class="table-container">
        <app-homework-card
          [selectedStudent]="(currentUser$ | async)"
          [homework]="getUnfinishedHomework() | async"
          [users]="users$ | async"
          [currentUser]="currentUser$ | async"
          (saveFeedback)="saveFeedback($event)"
        ></app-homework-card>
      </div>
    </mat-tab>

    <mat-tab
      *ngIf="(currentUser$ | async)?.userType?.toLowerCase() === 'student'"
      label="All homework"
    >
      <div *ngIf="!homeworkPageLoading" class="table-container">
        <app-homework-card
          [selectedStudent]="(currentUser$ | async)"
          [homework]="homework$ | async"
          [users]="users$ | async"
          [currentUser]="currentUser$ | async"
          (saveFeedback)="saveFeedback($event)"
        ></app-homework-card>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
