<app-header-card
  (headerButtonAction)="createHomework()"
  (filterResults)="filterResults($event)"
  [currentSchool]="currentSchool$ | async"
  [currentUser]="currentUser$ | async"
  [pageName]="'homework'"
></app-header-card>

<mat-progress-bar
  [style]="{ visibility: homeworkPageLoading ? 'visible' : 'hidden' }"
  mode="query"
></mat-progress-bar>

<div class="page-content">
  <mat-tab-group class="home-tab-group" mat-stretch-tabs>
    <mat-tab
      *ngIf="(currentUser$ | async)?.userType?.toLowerCase() !== 'student'"
    >
      <ng-template mat-tab-label>
        <div>
          Filter by Student:
          <mat-select
            class="student-select"
            (selectionChange)="changeStudent($event.value)"
            (openedChange)="isStudentSelectOpen = $event"
          >
            <mat-option value="null">Select a student...</mat-option>
            <mat-option
              *ngFor="let student of (students$ | async)"
              [value]="student"
            >
              <span
                ><img
                  [src]="student.profilePicture?.url"
                  alt="student image"
                  class="thumbnail-image"
                />
                <span> {{student.name}} ({{student.email}}) </span>
                <span
                  *ngIf="unfinishedStudentHomeworkCounter(student._id, (homework$ | async)) && isStudentSelectOpen"
                  [matBadge]="unfinishedStudentHomeworkCounter(student._id, (homework$ | async))"
                  matBadgeOverlap="false"
                  matBadgePosition="after"
                  matBadgeSize="small"
                  [matTooltip]="student.name + ' has ' +  unfinishedStudentHomeworkCounter(student._id, (homework$ |async)) + ' items of unfinished homework'"
                  matBadgeOverlap="true"
                  class="unfinished-homework-badge"
                >
                  &nbsp;&nbsp;</span
                >
                <span
                  *ngIf="markPendingHomeworkCounter(student._id, (homework$ | async)) && isStudentSelectOpen"
                  [matBadge]="markPendingHomeworkCounter(student._id, (homework$ | async))"
                  matBadgeOverlap="false"
                  matBadgePosition="after"
                  matBadgeSize="small"
                  [matTooltip]="student.name + ' has ' +  markPendingHomeworkCounter(student._id, (homework$ |async)) + ' items of overdue that need to be marked'"
                  matBadgeOverlap="true"
                >
                  &nbsp;&nbsp;&nbsp;&nbsp;</span
                >
                <span
                  *ngIf="overdueStudentHomeworkCounter(student._id, (homework$ | async)) && isStudentSelectOpen"
                  [matBadge]="overdueStudentHomeworkCounter(student._id, (homework$ | async))"
                  matBadgeOverlap="false"
                  matBadgePosition="after"
                  matBadgeSize="small"
                  matBadgeColor="warn"
                  [matTooltip]="student.name + ' has ' +  overdueStudentHomeworkCounter(student._id, (homework$ |async)) + ' items of overdue homework'"
                  matBadgeOverlap="true"
                >
                  &nbsp;&nbsp;&nbsp;&nbsp;</span
                >
              </span>
            </mat-option>
          </mat-select>
        </div>
      </ng-template>
      <app-homework-card
        [selectedStudent]="selectedStudent"
        [homework]="homework$ | async"
        [users]="users$ | async"
        [currentUser]="currentUser$ | async"
        (saveFeedback)="saveFeedback($event)"
        (openDeleteCommentDialog)="openDeleteCommentDialog($event)"
      ></app-homework-card>
    </mat-tab>

    <mat-tab
      *ngIf="(currentUser$ | async)?.userType?.toLowerCase() === 'student'"
      label="Unfinished homework"
    >
      <div *ngIf="!homeworkPageLoading" class="table-container">
        <app-homework-card
          [selectedStudent]="(currentUser$ | async)"
          [homework]="homework$ | async"
          [users]="users$ | async"
          [currentUser]="currentUser$ | async"
          [showUnfinishedHomeworkOnly]="true"
          (saveFeedback)="saveFeedback($event)"
          (openDeleteCommentDialog)="openDeleteCommentDialog($event)"
        ></app-homework-card>
      </div>
    </mat-tab>

    <mat-tab
      *ngIf="(currentUser$ | async)?.userType?.toLowerCase() === 'student'"
      label="All homework"
    >
      <div *ngIf="!homeworkPageLoading" class="table-container">
        <app-homework-card
          [selectedStudent]="currentUser$ | async"
          [homework]="homework$ | async"
          [users]="users$ | async"
          [currentUser]="currentUser$ | async"
          (saveFeedback)="saveFeedback($event)"
          (openDeleteCommentDialog)="openDeleteCommentDialog($event)"
        ></app-homework-card>
      </div>
    </mat-tab>

    <mat-tab
      *ngIf="(currentUser$ | async)?.userType?.toLowerCase() !== 'student'"
      label="View all homework"
    >
      <div *ngIf="!homeworkPageLoading" class="table-container">
        <app-homework-table
          [homeworkData]="homework$ | async"
          [users]="users$ | async"
          [homeworkPageLoading]="homeworkPageLoading"
          (openConfirmDeleteDialog)="openConfirmDeleteDialog($event)"
        ></app-homework-table>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
