<div class="bar-content">
  <div class="bar-icon-message">
    <ng-container>
      <mat-icon *ngIf="data.type === 'info'">info</mat-icon>
      <mat-icon *ngIf="data.type === 'warn'" class="color-warn"
        >warning</mat-icon
      >
      <mat-icon *ngIf="data.type === 'error'" class="color-error"
        >error</mat-icon
      >
      <mat-icon *ngIf="data.type === 'success'">check_circle</mat-icon>
    </ng-container>
    <div>{{ data.message }}</div>
  </div>
  <div>
    <button
      *ngIf="data.action"
      mat-button
      type="button"
      (click)="dismissWithAction()"
    >
      <span class="bar-action-label">{{ data.action.label }}</span>
    </button>

    <button
      mat-button
      type="button"
      class="bar-close-button"
      (click)="dismiss()"
    >
      <mat-icon>close</mat-icon>
    </button>
  </div>
</div>
