$primaryColor: var(--primaryColor);
$secondaryColor: var(--secondaryColor);

.chat-container {
  display: flex;
  height: 90%;
}

.form-field {
  width: 100%;
  margin: 0;
}

.form-field mat-icon {
  color: $primaryColor;
}

.chat-sidebar {
  width: 35%;
  // background: #f4f4f4;
  display: flex;
  flex-direction: column;
  // border-right: 1px solid #ddd;
}

.sidebar-header {
  display: flex;
  align-items: center;
  gap: 10px; /* Adds spacing between elements */
}

.sidebar-header mat-form-field {
  flex-grow: 1; /* Makes the search field take up available space */
  margin-bottom: 0; /* Prevents extra spacing */
}

.sidebar-header button {
  flex-shrink: 0; /* Prevents buttons from resizing */
  color: $primaryColor;
}

.chat-list {
  flex: 1;
  overflow-y: auto;
}

.chat-item {
  padding: 10px;
  cursor: pointer;
  transition: background 0.2s;
}

.chat-item:hover {
  background: whitesmoke;
}

.active-chat-item {
  background: whitesmoke;
  color: $primaryColor;
  border-right: solid 3px $primaryColor;
}

.chat-main {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 20px;
  overflow-y: auto;
  height: 100%;
}

.chat-messages-container {
  flex: 1;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  padding-right:20px;
}

.message-box {
  max-width: 60%;
  padding: 10px;
  margin: 15px;
  border-radius: 10px;
  position: relative;
  font-size: 14px;
}

.current-user {
  align-self: flex-start;
  background: $primaryColor;
  color: $secondaryColor;
}

.other-user {
  align-self: flex-end;
  background: #e1e1e1;
  color: black;
}

.message-time {
  display: block;
  font-size: 10px;
  text-align: right;
  margin-top: 5px;
}

.chat-input-container {
  display: flex;
  align-items: center;
  padding: 10px;
}

.chat-input {
  flex-grow: 1;
}

.suffix-icons-send-input {
  display: flex;
  align-items: center;
  gap: 8px;
}


/* Action buttons */
.message-actions {
  position: absolute;
  top: 50%;
  transform: translateY(0%);
  display: flex;
  gap: 8px;
  opacity: 0;
  transition: all 0.2s ease-in-out;
}

.message-actions mat-icon {
  cursor: pointer;
}

/* Right (for current user) */
.right {
  right: -160px;
  color: $primaryColor !important;
}

/* Left (for other users) */
.left {
  left: -100px;
}

/* Show actions on hover */
.message-box:hover .message-actions {
  opacity: 1;
  transform: translateY(-50%);
}

.thumbnail-image {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50%;
  padding: 10px;
}

.new-convo-message-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  color: gray;
  text-align: center;
}

.remove-user-icon {
  color: $primaryColor !important;
}

.message-row {
  display: flex;
  align-items: flex-start;
  margin-bottom: 10px;
}

.align-left {
  flex-direction: row;
}

.align-right {
  flex-direction: row-reverse;
}

.message-sender-name {
  display: block;
  font-weight: 600;
  font-size: 13px;
  margin-bottom: 5px;
}