.login-page {
  /* background-image: url('../../../assets/triangles-1-pink-purple.png'); */
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 150vh; /* Ensure the background covers the entire viewport */
  display: flex;
  justify-content: center;
  align-items: center;
}
