<div
  class="login-page"
  [style]="selectedBackgroundImage?.type === 'pattern' || !selectedBackgroundImage?.type ? 'background-image: url(../../../assets/' + selectedBackgroundImage?.name + ')' : (selectedBackgroundImage?.type === 'color' ? 'background: ' + selectedBackgroundImage?.name : 'background-image: ' + selectedBackgroundImage?.name)"
>
  <app-login-card
    *ngIf="userType !== 'school'"
    [title]="isFlipped ? 'login' : 'signup'"
    [isFlipped]="isFlipped"
    [users]="users$ | async"
    [pageLoading]="pageLoading"
    [userType]="userType"
    [photoSrc]="photoSrc"
    [backgroundImages]="backgroundImages"
    [selectedBackgroundImage]="selectedBackgroundImage"
    [primaryButtonBackgroundColor]="primaryButtonBackgroundColor"
    [primaryButtonTextColor]="primaryButtonTextColor"
    [currentSchool]="currentSchool$ | async"
    (cardFlipped)="onCardFlipped($event)"
    (signup)="signup($event)"
    (login)="login($event,'')"
    (changeBackgroundImage)="changeBackgroundImage($event)"
  ></app-login-card>

  <app-login-card-school
    *ngIf="userType === 'school'"
    [title]="isFlipped ? 'login' : 'signup'"
    [isFlipped]="isFlipped"
    [users]="users$ | async"
    [schools]="schools$ | async"
    [pageLoading]="pageLoading"
    [userType]="userType"
    [photoSrc]="photoSrc"
    [backgroundImages]="backgroundImages"
    [selectedBackgroundImage]="selectedBackgroundImage"
    [primaryButtonBackgroundColor]="primaryButtonBackgroundColor"
    [primaryButtonTextColor]="primaryButtonTextColor"
    [currentSchool]="currentSchool$ | async"
    (cardFlipped)="onCardFlipped($event)"
    (signupSchool)="signupSchool($event)"
    (login)="loginSchool($event,'')"
    (changeBackgroundImage)="changeBackgroundImage($event)"
  ></app-login-card-school>
</div>

<!-- <div
  *ngFor="let school of (schools$ | async)"
  (click)="deleteSchoolClick(school._id)"
>
  {{school.name}} {{school._id}} {{school.email}}
</div> -->
<!-- 
<div *ngFor="let user of (users$ | async)">
  <div
    *ngIf="user.userType.toLowerCase() ==='school'
    (click)="deleteAdminUserClick(user._id)"
  >
    {{user.name}} {{user._id}} {{user.email}} {{user.userType}}
  </div>
</div> -->
