/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

/**
 * ==============================
 *  General
 * ==============================
*/

.form-field:hover, .button:hover, .card:hover {
    transform: scale(1.01);
    transition: all 100ms ease-in-out;
  }

.dialog-title-container {
  background-color: #6200EE;
}

.mat-dialog-title {
  padding: 15px; 
  color: white;
}

.page-content {
  padding:25px;
}

.table-row:hover {
  background: whitesmoke;
}

/**
 * ==============================
 *  SnackBar
 * ==============================
*/

/* Snackbar styles for info */
.snackbar-info {
  background: #03a9f4;
  color: white;
}
.snackbar-info .mat-simple-snackbar-action {
  color: white;
}

/* Snackbar styles for success */
.snackbar-success {
  background: #4caf50;
  color: white;
}
.snackbar-success .mat-simple-snackbar-action {
  color: white;
}

/* Snackbar styles for warn */
.snackbar-warn {
  background: #ff9800;
  color: white;
}
.snackbar-warn .mat-simple-snackbar-action {
  color: white;
}

/* Snackbar styles for error */
.snackbar-error {
  background: #ef5350;
  color: white;
}
.snackbar-error .mat-simple-snackbar-action {
  color: white;
}
