<ng-container>
  <app-dialog-header
    dialogTitle="Choose students to enrol in lesson"
    (closeAction)="closeDialog(null)"
  ></app-dialog-header>
  <mat-dialog-content class="mat-typography">
    <div>Showing students of level: {{getLevelList()}}</div>

    <mat-list style="margin-top: 10px">
      <ng-container
        *ngFor="let student of data.filteredStudents; let index = index"
      >
        <mat-list-item
          style="
            display: flex;
            justify-content: space-between;
            width: 100%;
            margin-bottom: 10px;
          "
        >
          <mat-checkbox
            #checkboxRef
            [id]="'checkbox' + index"
            [checked]="lesson.studentsEnrolled.includes(student.email)"
            (change)="enrolStudent($event.checked, index, student)"
            [disabled]="enrolledStudents.length >= lesson.maxStudents && !enrolledStudents.includes(student)"
            >{{student.name}} ({{ student.email }})</mat-checkbox
          >
        </mat-list-item>
      </ng-container>
    </mat-list>
  </mat-dialog-content>

  <app-dialog-actions
    (saveAction)="closeDialog(enrolledStudents)"
    (cancelAction)="closeDialog(null)"
  ></app-dialog-actions>
</ng-container>
