<div class="scene scene--card">
  <div class="card" [class.is-flipped]="isFlipped">
    <mat-card
      [class]="title === 'signup' ? 'card__face card__face--front' : 'card__face card__face--back'"
    >
      <mat-card-header>
        <mat-card-title>{{title | titlecase}}</mat-card-title>
      </mat-card-header>
      <div class="image-container">
        <img mat-card-image [src]="photoSrc" alt="Login Photo" />
      </div>
      <mat-card-content>
        <div [formGroup]="loginForm">
          <mat-form-field
            *ngIf="title === 'signup'"
            class="form-field"
            appearance="outline"
          >
            <mat-label>Name</mat-label>
            <input
              matInput
              id="nameInput"
              formControlName="nameInput"
              type="text"
              placeholder="Enter your first and last name"
              [required]="title === 'signup'"
            />
            <mat-error>
              <app-error-message
                [control]="loginForm.controls['nameInput'].errors"
              ></app-error-message>
            </mat-error>
          </mat-form-field>

          <mat-form-field class="form-field" appearance="outline">
            <mat-label>Email</mat-label>
            <input
              matInput
              id="emailInput"
              formControlName="emailInput"
              type="email"
              placeholder="Email address (e.g. john@gmail.com)"
              required
            />
            <mat-error>
              <app-error-message
                [control]="loginForm.controls['emailInput'].errors"
              ></app-error-message>
            </mat-error>
          </mat-form-field>

          <mat-form-field
            *ngIf="title === 'signup'"
            class="form-field"
            appearance="outline"
          >
            <mat-label
              >Country of Origin
              <span *ngIf="userType === 'student'">(Optional)</span></mat-label
            >
            <mat-select
              formControlName="countryInput"
              [required]="userType === 'teacher' && title === 'signup'"
            >
              <mat-option value="other">Select country...</mat-option>
              <mat-option *ngFor="let country of countryList" [value]="country">
                {{ country }}
              </mat-option>
              <mat-option value="other">OTHER</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field
            *ngIf="title === 'signup' && userType === 'teacher'"
            class="form-field"
            appearance="outline"
          >
            <mat-label>Personal Statement</mat-label>
            <textarea
              matInput
              id="personalStatement"
              formControlName="personalStatement"
              type="text"
              placeholder="Tell your students a little bit about yourself..."
              [required]="title === 'signup' && userType === 'teacher'"
            ></textarea>
            <mat-error>
              <app-error-message
                [control]="loginForm.controls['personalStatement'].errors"
              ></app-error-message>
            </mat-error>
          </mat-form-field>

          <mat-form-field class="form-field" appearance="outline">
            <mat-label>Password</mat-label>
            <input
              matInput
              id="passwordInput"
              formControlName="passwordInput"
              [type]="hidePassword ? 'password' : 'text'"
              placeholder="Enter your password"
              required
            />
            <button
              mat-icon-button
              matSuffix
              (click)="hidePassword = !hidePassword"
              [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="hidePassword"
            >
              <mat-icon
                *ngIf="this.loginForm.getRawValue().passwordInput !== ''"
                >{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon
              >
            </button>
            <mat-error>
              <app-error-message
                [control]="loginForm.controls['passwordInput'].errors"
              ></app-error-message>
            </mat-error>
          </mat-form-field>

          <mat-form-field
            appearance="outline"
            class="form-field"
            *ngIf="title === 'signup' && this.loginForm.getRawValue().passwordInput !== ''"
          >
            <mat-label>Confirm Password</mat-label>
            <input
              matInput
              id="passwordMatchInput"
              formControlName="passwordMatchInput"
              [type]="hidePassword ? 'password' : 'text'"
              placeholder="Re-enter your password"
              [required]="title === 'signup'"
            />
            <mat-error>
              <app-error-message
                [control]="loginForm.controls['passwordMatchInput'].errors"
              ></app-error-message>
            </mat-error>
          </mat-form-field>
        </div>
      </mat-card-content>
      <button
        *ngIf="title === 'signup'"
        mat-raised-button
        class="login-signup-button"
        [disabled]="this.loginForm.invalid || this.usersLoading"
        (click)="signupClick()"
      >
        Sign up
      </button>
      <button
        mat-raised-button
        *ngIf="title === 'login'"
        class="login-signup-button"
        [disabled]="this.loginForm.getRawValue().passwordInput === '' || this.loginForm.getRawValue().emailInput === ''"
        (click)="loginClick()"
      >
        Login
      </button>
      <div class="text-container" (click)="toggleCardFlip()">
        <h6 *ngIf="title === 'signup'" class="login-text">
          Already have an account? Click <b>here</b> to login.
        </h6>
        <h6 *ngIf="title === 'login' " class="login-text">
          New user? Click <b>here</b> to sign up.
        </h6>
      </div>
    </mat-card>
    <mat-progress-bar
      [style]="{ visibility: usersLoading ? 'visible' : 'hidden' }"
      mode="query"
    ></mat-progress-bar>
  </div>
</div>
