@import '../../../app.component.scss';

.card {
    margin:25px;
    height:fit-content;
    padding:50px;
}

.config-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px 0;
    /* height: 42px; */
  
    .config-item-label {
      flex: 0 1 200px;
      display: flex;
      flex-direction: row;
      align-items: center;
    }

    .config-item-tooltip {
      flex: 0 1 24px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      cursor:default;
      width: 22px;
      height:22px;
      /* color:white;
      background-color: black; */
      font-weight: bolder;
    }

    .config-item-value {
      flex: 1 1 auto;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      max-width:60%;
      padding: 10px 50px;
    }
  
    .edit-text-input {
      text-align: left;
    }
  
    .config-item-actions {
      flex: 0 0 24px;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-end;
    }
  }

  .image-button-container {    
    flex: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;    
    margin-top:25px;
    margin-bottom:25px;
}

  .inline-form-field.mat-mdc-form-field {
    margin-top: 16px;
  }

  :host {
    --primaryButtonBackgroundColor: $defaultButtonColor;
    --primaryButtonTextColor: $defaultTextColor;
  }
  
  ::ng-deep .config-item-tooltip {
    background-color: var(--primaryButtonBackgroundColor) !important;
    color: var(--primaryButtonTextColor) !important;
  }
  
  ::ng-deep .edit-icon, .done-icon {
    color: var(--primaryButtonBackgroundColor) !important;
  }

    /* ---------------------- */
  /* -- -----Slider: ------ */
  /* ---------------------- */

  :host {
    --backgroundGradient: radial-gradient(circle at 50% 50%, #FFFFF 100%, #FFFFFF 100%) !important;
    --primaryButtonBackgroundColor: #FFFFFF;
  }

  ::ng-deep .mat-slider-wrapper, ::ng-deep .mat-slider-ticks, ::ng-deep .mat-slider-ticks-container, ::ng-deep .mat-slider-ticks-wrapper {
    background: var(--backgroundGradient) !important;
    background-color: var(--backgroundGradient) !important;
  }

  ::ng-deep .mat-slider-thumb, ::ng-deep .mat-slider-thumb-label {
    color:var(--primaryButtonBackgroundColor) !important;
    background-color:var(--primaryButtonBackgroundColor) !important;
  }

::ng-deep .mat-slider-wrapper{
  height: 20px !important;
  width:150%;
  border-bottom-left-radius: 10px !important;
  border-bottom-right-radius: 10px !important; 
}

  
  /* ---------------------- */
  /*------ Lesson List:---- */
  /* ---------------------- */

  .lesson-list-item {
    display: flex;
    justify-content: space-between;
  }
  
  .lesson-list-content {
    flex: 1;
  }
  
  .lesson-list-delete-icon {
    margin-right: 10%;
    cursor: pointer;
  }

  .image-button-container {    
    flex: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;    
    margin-top:25px;
    margin-bottom:25px;
}

.add-lesson-type {
  color: var(--primaryButtonBackgroundColor);
  cursor: pointer;
}

  