<mat-tab-group
  class="home-tab-group"
  mat-stretch-tabs
  [ngStyle]="{
'--primaryButtonBackgroundColor': primaryButtonBackgroundColor
}"
>
  <mat-tab *ngFor="let tab of tabs" [label]="tab.title | titlecase">
    <div *ngIf="adminForm" [formGroup]="adminForm">
      <mat-card
        *ngIf="adminForm.controls[tab.form] as formName"
        [formGroupName]="tab.form"
        class="card"
      >
        <div
          class="image-button-container"
          *ngIf="tab.form === 'backgroundStep'"
        >
          <mat-button-toggle-group
            #group="matButtonToggleGroup"
            [value]="backgroundImageType"
            (change)="onFormTypeChange(group.value)"
          >
            <mat-button-toggle value="color">Color</mat-button-toggle>
            <mat-button-toggle value="gradient">Gradient</mat-button-toggle>
            <mat-button-toggle value="pattern">Pattern</mat-button-toggle>
          </mat-button-toggle-group>
        </div>

        <div *ngFor="let row of tab.formValues">
          <div *ngIf="row.hide !== true" class="config-item">
            <div class="config-item-label">{{row.title}}</div>
            <button
              mat-mini-fab
              class="config-item-tooltip"
              matTooltipPosition="after"
              [matTooltip]="row.tooltip"
              [ngStyle]="{
                '--primaryButtonBackgroundColor': primaryButtonBackgroundColor,
                '--primaryButtonTextColor': primaryButtonTextColor
              }"
            >
              &#8505;
            </button>
            <div class="config-item-value">
              <span
                *ngIf="edit?.dataRef !== row.dataRef && (backgroundImageType !=='gradient' || tab.form.toLowerCase() !== 'backgroundstep')"
              >
                <span *ngIf="getFormControl(formName, row.dataRef)?.value"
                  >{{ getFormControl(formName, row.dataRef)?.value}}</span
                >
                <span *ngIf="!getFormControl(formName, row.dataRef)?.value"
                  >Click the 'edit' icon to change</span
                >
              </span>
              <span
                *ngIf="edit?.dataRef === row.dataRef || (tab.form.toLowerCase() === 'backgroundstep' && backgroundImageType ==='gradient')"
              >
                <mat-form-field
                  class="inline-form-field"
                  subscriptSizing="dynamic"
                >
                  <!-- -- --- --- --- ----- -- -->
                  <!--------- INPUTS ------------>
                  <!-- -- --- --- ----- --- -- -->

                  <mat-label>{{row.title}}</mat-label>
                  <input
                    [attr.id]="row.dataRef"
                    [formControlName]="row.dataRef"
                    class="edit-text-input"
                    matInput
                    [placeholder]="getFormControl(formName, row.dataRef)?.value"
                    [type]="row.formType === 'color-picker' ? 'color' : 'text'"
                    *ngIf="row.formType !== 'text-area' && row.formType !== 'select' && row.formType !== 'slider' && row.formType !== 'image'"
                    (input)="changeTempStyles(row.title, getFormControl(formName, row.dataRef)?.value)"
                  />

                  <!-- -- --- --- --- ----- -- -->
                  <!--------- TEXT AREAS -------->
                  <!-- -- --- --- ----- --- -- -->

                  <textarea
                    [attr.id]="row.dataRef"
                    [formControlName]="row.dataRef"
                    class="edit-text-input"
                    matInput
                    [placeholder]="getFormControl(formName, row.dataRef)?.value"
                    type="text"
                    *ngIf="row.formType === 'text-area'"
                  ></textarea>

                  <!-- -- --- --- --- ------------- -- -->
                  <!-- BACKGROUND IMAGE PATTERN SELECT -->
                  <!-- -- --- --- ------------- --- -- -->

                  <mat-select
                    [formControlName]="row.dataRef"
                    *ngIf="row.formType === 'select' && row.dataRef.toLowerCase() === 'backgroundimageinput'"
                    (selectionChange)="changeTempStyles(row.title, getFormControl(formName, row.dataRef)?.value)"
                  >
                    <mat-option value="other">Background image...</mat-option>
                    <mat-option
                      *ngFor="let backgroundImage of backgroundImages"
                      [value]="backgroundImage"
                    >
                      <img
                        [src]="'../../../assets/' + backgroundImage.name"
                        [alt]="backgroundImage.label"
                      />
                    </mat-option>
                  </mat-select>

                  <!-- -- --- --- --- ----- -- -->
                  <!------- COUNTRY SELECT ------>
                  <!-- -- --- --- ----- --- -- -->

                  <mat-select
                    [formControlName]="row.dataRef"
                    *ngIf="row.formType === 'select' && row.dataRef.toLowerCase() === 'countryinput'"
                  >
                    <mat-option value="other">Select country...</mat-option>
                    <mat-option
                      *ngFor="let country of countryList"
                      [value]="country.name"
                    >
                      <img
                        [src]="'https://flagcdn.com/w20/' + country.isoCode.toLowerCase() + '.png'"
                        alt="{{ country.name }} flag"
                        class="country-flag"
                      />
                      {{ country.name }}
                    </mat-option>
                    <mat-option value="other">OTHER</mat-option>
                  </mat-select>
                  <mat-error>
                    <app-error-message
                      [control]="getFormControl(formName, row.dataRef)?.errors ?? null"
                    ></app-error-message>
                  </mat-error>

                  <!-- -- --- --- --- ----- --- -->
                  <!-- GRADIENT POSITION SLIDER -->
                  <!-- -- --- --- ----- ---- -- -->

                  <mat-slider
                    *ngIf="row.formType === 'slider' && backgroundImageType ==='gradient'"
                    class="form-field"
                    style="margin-bottom: 25px"
                    thumbLabel
                    step="1"
                    min="0"
                    max="100"
                    aria-label="units"
                    [displayWith]="formatColorSliderLabel"
                    [disabled]="!this.editGradient"
                    #backgroundGradientSlider
                    (input)="changeTempStyles(row.title, backgroundGradientSlider.value)"
                    [ngStyle]="{
                      '--primaryButtonBackgroundColor': primaryButtonBackgroundColor,
                      '--backgroundGradient': backgroundGradient
                    }"
                  >
                    <input
                      [formControlName]="row.dataRef"
                      #backgroundGradientSliderInput
                      matInput
                    />
                  </mat-slider>

                  <!-- -- --- --- --- ----- -- -->
                  <!--- GRADIENT TYPE SELECT ---->
                  <!-- -- --- --- ----- --- -- -->

                  <mat-select
                    [formControlName]="row.dataRef"
                    *ngIf="row.formType === 'select' && row.dataRef.toLowerCase() === 'backgroundgradienttype'"
                    (selectionChange)="changeTempStyles(row.title, getFormControl(formName, row.dataRef)?.value)"
                  >
                    <mat-option
                      *ngFor="let type of ['linear','radial']"
                      [value]="type"
                    >
                      {{ type | titlecase }}
                    </mat-option>
                  </mat-select>
                  <mat-error>
                    <app-error-message
                      [control]="getFormControl(formName, row.dataRef)?.errors ?? null"
                    ></app-error-message>
                  </mat-error>

                  <!-- -- --- --- --- ----- --- -->
                  <!-- GRADIENT ROTATION SELECT -->
                  <!-- -- --- --- ----- ---- -- -->

                  <mat-select
                    [formControlName]="row.dataRef"
                    *ngIf="row.formType === 'select' && row.dataRef.toLowerCase() === 'backgroundgradientrotation'"
                    (selectionChange)="changeTempStyles(row.title, getFormControl(formName, row.dataRef)?.value)"
                  >
                    <mat-option
                      *ngFor="let rotation of [0, 45, 90, 135, 180, 225, 270, 315, 360]"
                      [value]="rotation"
                    >
                      {{rotation}}&deg;
                    </mat-option>
                  </mat-select>
                  <mat-error>
                    <app-error-message
                      [control]="getFormControl(formName, row.dataRef)?.errors ?? null"
                    ></app-error-message>
                  </mat-error>

                  <!-- -- --- --- --- ----- -- -->
                  <!------ PHOTO UPLOADER ------->
                  <!-- -- --- --- ----- --- -- -->

                  <!-- Primary Photo -->
                  <div
                    *ngIf="row.formType === 'image' && row.dataRef.toLowerCase() === 'schoollogoprimary'"
                  >
                    <input
                      #schoolLogo
                      type="file"
                      hidden="true"
                      (change)="fileChangeEvent($event, 'primary')"
                      [accept]="fileService.acceptedImageTypes"
                    />
                    <input
                      (click)="schoolLogo.click()"
                      matInput
                      readonly
                      [placeholder]="primaryPhoto.photoName || 'No file chosen'"
                    />
                    <mat-icon
                      matSuffix
                      style="cursor: pointer"
                      (click)="schoolLogo.click()"
                      >add_photo_alternate</mat-icon
                    >
                    <div
                      *ngIf="currentSchool?.logoPrimary && !primaryPhoto.photoName"
                    >
                      <img
                        [src]="currentSchool?.logoPrimary?.url"
                        alt="School logo"
                      />
                    </div>
                    <image-cropper
                      format="png"
                      [imageChangedEvent]="primaryPhoto.imageChangedEvent"
                      [maintainAspectRatio]="true"
                      [aspectRatio]="fileService.primaryImageAspectRation"
                      [resizeToWidth]="fileService.resizeWidth"
                      (imageCropped)="imageCropped($event, 'primary'); changeTempStyles(row.title, getFormControl(formName, row.dataRef)?.value)"
                      (imageLoaded)="fileService.imageLoaded()"
                      (cropperReady)="fileService.cropperReady()"
                      (loadImageFailed)="fileService.loadImageFailed()"
                    ></image-cropper>
                  </div>

                  <!-- Secondary Photo -->
                  <div
                    *ngIf="row.formType === 'image' && row.dataRef.toLowerCase() === 'schoollogosecondary'"
                  >
                    <input
                      #schoolLogoSecondary
                      type="file"
                      hidden="true"
                      (change)="fileChangeEvent($event, 'secondary')"
                      [accept]="fileService.acceptedImageTypes"
                    />
                    <input
                      (click)="schoolLogoSecondary.click()"
                      matInput
                      readonly
                      [placeholder]="secondaryPhoto.photoName || 'No file chosen'"
                    />
                    <mat-icon
                      matSuffix
                      style="cursor: pointer"
                      (click)="schoolLogoSecondary.click()"
                      >add_photo_alternate</mat-icon
                    >
                    <div
                      *ngIf="currentSchool?.logoSecondary && !secondaryPhoto.photoName"
                    >
                      <img
                        [src]="currentSchool?.logoSecondary?.url"
                        alt="School logo"
                      />
                    </div>
                    <image-cropper
                      format="png"
                      [imageChangedEvent]="secondaryPhoto.imageChangedEvent"
                      [maintainAspectRatio]="true"
                      [aspectRatio]="fileService.secondaryImageAspectRation"
                      [resizeToWidth]="fileService.resizeWidth"
                      (imageCropped)="imageCropped($event, 'secondary'); changeTempStyles(row.title, getFormControl(formName, row.dataRef)?.value)"
                      (imageLoaded)="fileService.imageLoaded()"
                      (cropperReady)="fileService.cropperReady()"
                      (loadImageFailed)="fileService.loadImageFailed()"
                    ></image-cropper>
                  </div>
                </mat-form-field>
              </span>
            </div>

            <!-- -- --- --- --- ----- -- -->
            <!--- ACTION BUTTONS SELECT --->
            <!-- -- --- --- ----- --- -- -->

            <div
              class="config-item-actions"
              *ngIf="backgroundImageType !=='gradient' || tab.form.toLowerCase() !== 'backgroundstep'"
            >
              <button
                *ngIf="edit?.dataRef !== row.dataRef"
                mat-button
                type="button"
                (click)="edit?.dataRef !== row.dataRef ? openEdit(row) : closeEdit()"
              >
                <mat-icon
                  class="edit-icon"
                  [ngStyle]="{
                  '--primaryButtonBackgroundColor': primaryButtonBackgroundColor,
                  '--primaryButtonTextColor': primaryButtonTextColor
                }"
                  >edit</mat-icon
                >
              </button>
              <button
                *ngIf="edit?.dataRef === row.dataRef"
                #tooltip="matTooltip"
                matTooltip="Submit changes"
                mat-icon-button
                style="cursor: pointer"
                [disabled]="getFormControl(formName, row.dataRef)?.errors"
                (click)="onSaveClick(row, getFormControl(formName, row.dataRef)?.value)"
              >
                <mat-icon
                  class="done-icon"
                  [ngStyle]="{
                    '--primaryButtonBackgroundColor': primaryButtonBackgroundColor,
                    '--primaryButtonTextColor': primaryButtonTextColor
                  }"
                  >done</mat-icon
                >
              </button>
              <button
                *ngIf="edit?.dataRef === row.dataRef"
                #tooltip="matTooltip"
                mat-icon-button
                matTooltip="Discard changes"
                style="cursor: pointer"
                (click)="closeEdit()"
              >
                <mat-icon>close</mat-icon>
              </button>
            </div>
          </div>
        </div>

        <!-- -- --- --- --- ----- -- ----------->
        <!-- ACTION BUTTONS FOR GRADIENT STEP -->
        <!-- -- --- --- ----- --- ------ ------->

        <div
          align="end"
          *ngIf="backgroundImageType ==='gradient' && tab.form.toLowerCase() === 'backgroundstep'"
        >
          <div class="config-item-actions">
            <button
              *ngIf="!editGradient"
              mat-button
              type="button"
              (click)="editGradient = !editGradient; populateForm()"
            >
              <mat-icon
                class="edit-icon"
                [ngStyle]="{
                  '--primaryButtonBackgroundColor': primaryButtonBackgroundColor,
                  '--primaryButtonTextColor': primaryButtonTextColor
                }"
                >edit</mat-icon
              >
            </button>
            <button
              *ngIf="editGradient"
              #tooltip="matTooltip"
              matTooltip="Submit changes to background gradient"
              mat-icon-button
              style="cursor: pointer"
            >
              <mat-icon
                class="done-icon"
                [ngStyle]="{
                  '--primaryButtonBackgroundColor': primaryButtonBackgroundColor,
                  '--primaryButtonTextColor': primaryButtonTextColor
                }"
                >done</mat-icon
              >
            </button>
            <button
              *ngIf="editGradient"
              #tooltip="matTooltip"
              mat-icon-button
              matTooltip="Discard changes to background gradient"
              style="cursor: pointer"
              (click)="editGradient = !editGradient; closeEdit()"
            >
              <mat-icon>close</mat-icon>
            </button>
          </div>
        </div>

        <!-- -- --- --- --- ----- -- -->
        <!-------- LESSON TYPES ------->
        <!-- -- --- --- ----- --- -- -->

        <div
          style="display: flex; align-items: center"
          *ngIf="tab.form === 'lessonStep'"
        >
          <mat-form-field
            class="form-field"
            appearance="outline"
            style="padding: 5px; width: 50%"
          >
            <mat-label>Add a Lesson Type (full name)</mat-label>
            <input
              matInput
              type="text"
              placeholder="E.g. Buisness English"
              #lessonTypeLongName
            />
          </mat-form-field>
          <mat-form-field
            class="form-field"
            appearance="outline"
            style="padding: 5px; width: 50%"
          >
            <mat-label>Add a Lesson Type (abbreviated name)</mat-label>
            <input
              matInput
              type="text"
              #lessonTypeShortName
              placeholder="E.g. Buisness"
            />
          </mat-form-field>
          <mat-icon
            class="add-lesson-type"
            (click)="addLessonType(lessonTypeLongName.value, lessonTypeShortName.value)"
            >add_circle</mat-icon
          >
        </div>

        <mat-list
          role="list"
          style="width: 100%; padding-left: 25%"
          *ngIf="tab.form === 'lessonStep'"
        >
          <mat-list-item
            style="width: 100%"
            role="listitem"
            *ngFor="let lesson of lessonTypesModified"
          >
            <div style="width: 100%">
              {{ lesson.shortName }} ({{ lesson.name }})
            </div>
            <div
              style="width: 100%"
              class="lesson-list-delete-icon"
              (click)="removeLessonType(lesson.name, lesson.shortName)"
            >
              <mat-icon>delete</mat-icon>
            </div>
          </mat-list-item>
        </mat-list>

        <!-- -- --- --- --- ----- -- ----------->
        <!-- ACTION BUTTONS FOR LESSON TYPES STEP -->
        <!-- -- --- --- ----- --- ------ ------->

        <div align="end" *ngIf="tab.form === 'lessonStep' && editLessonTypes">
          <div class="config-item-actions">
            <button
              #tooltip="matTooltip"
              matTooltip="Submit changes to lesson types"
              mat-icon-button
              style="cursor: pointer"
              (click)="updateLessonsClick()"
            >
              <mat-icon
                class="done-icon"
                [ngStyle]="{
                  '--primaryButtonBackgroundColor': primaryButtonBackgroundColor,
                  '--primaryButtonTextColor': primaryButtonTextColor
                }"
                >done</mat-icon
              >
            </button>
            <button
              #tooltip="matTooltip"
              mat-icon-button
              matTooltip="Discard changes to lesson types"
              style="cursor: pointer"
              (click)="closeEdit()"
            >
              <mat-icon>close</mat-icon>
            </button>
          </div>
        </div>

        <!-- -- ---- --- ----- ----- -------->
        <!----------- LAST UPDATED ---------->
        <!-- -- --- --- ------ -------------->

        <mat-card-actions
          align="end"
          *ngIf="currentSchool?.updatedAt"
          style="opacity: 50%; margin-top: 20px"
          ><i
            >Last Updated: {{currentSchool?.updatedAt | date:'dd-MMM-yyyy'}}</i
          >
        </mat-card-actions>
      </mat-card>
    </div>
  </mat-tab>
  <mat-tab label="Payments"></mat-tab>
  <mat-tab label="Data"></mat-tab>
</mat-tab-group>
