<mat-tab-group
  class="home-tab-group"
  mat-stretch-tabs
  [ngStyle]="{
'--primaryButtonBackgroundColor': primaryButtonBackgroundColor
}"
>
  <mat-tab *ngFor="let tab of tabs" [label]="tab.title | titlecase">
    <div *ngIf="adminForm" [formGroup]="adminForm">
      <mat-card
        *ngIf="adminForm.controls[tab.form] as detailStepForm"
        [formGroupName]="tab.form"
        class="card"
      >
        <div class="config-item" *ngFor="let row of tab.formValues">
          <div class="config-item-label">{{row.title}}</div>
          <!-- <mat-icon
            class="config-item-tooltip"
            matTooltipPosition="after"
            [matTooltip]="row.tooltip"
          >
            info
          </mat-icon> -->
          <button
            mat-mini-fab
            class="config-item-tooltip"
            matTooltipPosition="after"
            [matTooltip]="row.tooltip"
            [ngStyle]="{
              '--primaryButtonBackgroundColor': primaryButtonBackgroundColor,
              '--primaryButtonTextColor': primaryButtonTextColor
            }"
          >
            i
          </button>
          <div class="config-item-value">
            <span *ngIf="edit?.dataRef !== row.dataRef"
              >{{ getFormControl(detailStepForm, row.dataRef)?.value }}</span
            >
            <span *ngIf="edit?.dataRef === row.dataRef">
              <mat-form-field
                class="inline-form-field"
                subscriptSizing="dynamic"
              >
                <mat-label>{{row.title}}</mat-label>
                <input
                  [attr.id]="row.dataRef"
                  [formControlName]="row.dataRef"
                  class="edit-text-input"
                  matInput
                  [placeholder]="getFormControl(detailStepForm, row.dataRef)?.value"
                  [type]="row.formType === 'color-picker' ? 'color' : 'text'"
                  *ngIf="row.formType !==  'text-area' && row.formType !== 'select'"
                  (input)="changeSyleColors(row.title, getFormControl(detailStepForm, row.dataRef)?.value)"
                />
                <textarea
                  [attr.id]="row.dataRef"
                  [formControlName]="row.dataRef"
                  class="edit-text-input"
                  matInput
                  [placeholder]="getFormControl(detailStepForm, row.dataRef)?.value"
                  type="text"
                  *ngIf="row.formType === 'text-area'"
                ></textarea>
                <mat-select
                  [formControlName]="row.dataRef"
                  *ngIf="row.formType === 'select'"
                >
                  <mat-option value="other">Select country...</mat-option>
                  <mat-option
                    *ngFor="let country of countryList"
                    [value]="country"
                  >
                    {{ country }}
                  </mat-option>
                  <mat-option value="other">OTHER</mat-option>
                </mat-select>
                <mat-error>
                  <app-error-message
                    [control]="getFormControl(detailStepForm, row.dataRef)?.errors ?? null"
                  ></app-error-message>
                </mat-error>
              </mat-form-field>
            </span>
          </div>
          <div class="config-item-actions">
            <button
              *ngIf="edit?.dataRef !== row.dataRef"
              mat-button
              type="button"
              (click)="edit?.dataRef !== row.dataRef ? openEdit(row) : closeEdit()"
            >
              <mat-icon>edit</mat-icon>
            </button>
            <button
              *ngIf="edit?.dataRef === row.dataRef"
              #tooltip="matTooltip"
              matTooltip="Submit changes"
              mat-icon-button
              style="cursor: pointer"
              [disabled]="getFormControl(detailStepForm, row.dataRef)?.errors"
              (click)="onSaveClick(row, getFormControl(detailStepForm, row.dataRef)?.value)"
            >
              <mat-icon>done</mat-icon>
            </button>
            <button
              *ngIf="edit?.dataRef === row.dataRef"
              #tooltip="matTooltip"
              mat-icon-button
              matTooltip="Discard changes"
              style="cursor: pointer"
              (click)="closeEdit()"
            >
              <mat-icon>close</mat-icon>
            </button>
          </div>
        </div>
        <mat-card-actions
          align="end"
          *ngIf="currentSchool?.updatedAt"
          style="opacity: 50%; margin-top: 20px"
          ><i
            >Last Updated: {{currentSchool?.updatedAt | date:'dd-MMM-yyyy'}}</i
          >
        </mat-card-actions>
      </mat-card>
    </div>
  </mat-tab>
  <!-- <mat-tab label="Styles"> <mat-card class="card"> test </mat-card></mat-tab>
  <mat-tab label="Background">
    <mat-card class="card"> test </mat-card></mat-tab
  > -->
  <!-- <mat-tab label="Logo"> <mat-card class="card"> test </mat-card></mat-tab> -->
  <!-- <mat-tab label="Lessons"> <mat-card class="card"> test </mat-card></mat-tab>
  <mat-tab label="Payments"> <mat-card class="card"> test </mat-card></mat-tab>
  <mat-tab label="Data"> <mat-card class="card"> test </mat-card></mat-tab> -->
</mat-tab-group>
