<!-- <div class="header-container">
  <mat-card>
    <h1 class="text-center">Class Mate</h1>
    <h5 class="text-center">Online English Classes, Courses and Exams</h5>
  </mat-card>
</div> -->

<!-- <p> -->
<mat-toolbar>
  <button
    mat-icon-button
    class="example-icon"
    aria-label="menu button"
    (click)="closeSideNavClick()"
  >
    <mat-icon>menu</mat-icon>
  </button>
  <h1>Class Mate</h1>
  <span class="spacer"></span>
  <button
    mat-icon-button
    class="button"
    aria-label="Logout"
    matTooltip="Logout"
  >
    <mat-icon>exit_to_app</mat-icon>
  </button>
</mat-toolbar>
<!-- </p> -->
