$primaryColor: var(--primaryColor);
$secondaryColor: var(--secondaryColor);

  .mat-toolbar {
    background-color: white;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
  }
  
  .search-bar-form {
    display: flex;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 10px;
  }
  
  .form-field {
    width: 500px;
    margin: 0;
  }

  .spacer {
    flex: 1 1 auto;
  }

  .action-button {
    margin:20px;
    color: $secondaryColor;
    background-color: $primaryColor;
  }

  ::ng-deep .home-tab-group .mat-tab-header {
    background-color: white;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4);
    border-radius: 5px;
  }
  
  ::ng-deep .home-tab-group .mat-tab-label:hover {
    transform: scale(1.1);
    transition: all 100ms ease-in-out;
  }