/* .header-container {
    justify-content: center;
    align-items: center;
    margin:25px;
  } */

  .mat-toolbar {
    background-color: white;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
  }
  
  .search-bar-form {
    display: flex;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 10px;
  }
  
  .form-field {
    width: 500px;
    margin: 0;
  }

  .spacer {
    flex: 1 1 auto;
  }

  .add-lesson-button {
    margin:20px;
  }
/*   
  .form-field {
    padding: 50px;
    width:500px;
  } */