<mat-toolbar>
  <button
    mat-icon-button
    class="button"
    aria-label="menu button"
    (click)="closeSideNavClick()"
  >
    <mat-icon>{{icon}}</mat-icon>
  </button>
  <h1>{{currentSchool?.name}}</h1>
  <mat-icon>navigate_next</mat-icon>
  <h1>{{breadCrumb | titlecase}}</h1>

  <span class="spacer"></span>

  <form *ngIf="searchBar" class="search-bar-form">
    <mat-form-field class="form-field" appearance="outline" id="filter-field">
      <input
        #filter
        matInput
        [placeholder]="searchBar"
        (keyup)="filterResultsKeyup(filter.value)"
      />
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
  </form>

  <button
    *ngIf="headerButton && currentUser?.user?.userType?.toLowerCase() ==='teacher'"
    mat-raised-button
    class="button action-button"
    (click)="headerButtonClick()"
  >
    <mat-icon *ngIf="headerButtonIcon">{{headerButtonIcon}}</mat-icon
    >{{headerButton}}
  </button>

  <span class="spacer"></span>

  <button
    *ngIf="authStoreService.isLoggedIn$ | async"
    mat-icon-button
    class="button"
    aria-label="Logout"
    matTooltip="Logout"
    (click)="logout()"
  >
    <mat-icon>exit_to_app</mat-icon>
  </button>
</mat-toolbar>
