<mat-toolbar>
  <button
    mat-icon-button
    class="button"
    aria-label="menu button"
    (click)="closeSideNavClick()"
  >
    <mat-icon>{{icon}}</mat-icon>
  </button>

  <h1 *ngIf="!mediumScreen">{{breadCrumb | titlecase}}</h1>

  <span class="spacer"></span>

  <form *ngIf="searchBar" class="search-bar-form">
    <mat-form-field class="form-field" appearance="outline" id="filter-field">
      <input
        #filter
        matInput
        [placeholder]="!smallScreen ? searchBar : 'Search'"
        (keyup)="filterResultsKeyup(filter.value)"
      />
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
  </form>

  <button
    *ngIf="headerButton && currentUser?.userType?.toLowerCase() ==='teacher' || currentUser?.userType?.toLowerCase() ==='school'"
    mat-raised-button
    class="button action-button"
    (click)="headerButtonClick()"
  >
    <mat-icon *ngIf="headerButtonIcon">{{headerButtonIcon}}</mat-icon
    ><span *ngIf="!largeScreen">{{headerButton}}</span>
  </button>

  <span class="spacer"></span>

  <button
    mat-icon-button
    [matMenuTriggerFor]="notificationsMenu"
    #notificationsMenuTrigger="matMenuTrigger"
    class="button header-bar-button"
    *ngIf="currentUser"
  >
    <mat-icon
      [matBadge]="unseenNotificationsCount > 0 ? unseenNotificationsCount : ''"
      matBadgeOverlap="true"
      matBadgeColor="warn"
      >notifications</mat-icon
    >
  </button>

  <!-- <button
    *ngIf="authStoreService.isLoggedIn$ | async"
    mat-icon-button
    class="button"
    aria-label="Logout"
    matTooltip="Logout"
    (click)="logout()"
  >
    <mat-icon>exit_to_app</mat-icon>
  </button> -->
</mat-toolbar>

<!-- Notifications Menu: -->

<mat-menu #notificationsMenu="matMenu" yPosition="above" class="action-dialog">
  <div (click)="$event.stopPropagation()" (keydown)="$event.stopPropagation()">
    <app-notifications-dialog
      (closeDialog)="closeNotificationDialog()"
      [notifications]="notifications$ | async"
      [currentUserId]="currentUser?._id"
    ></app-notifications-dialog>
  </div>
</mat-menu>
